[2013-08-29 16:38] cameronmcefee opened #2 "Can't switch syntax highlighting"
When I open [this file](http://cl.ly/0c1x382l2Z2p) in Atom, I'm not presented with the syntax switching UI I've been told exists. Halp!

![screen shot 2013-08-29 at 9 25 29 am](https://f.cloud.github.com/assets/72919/1051308/c99dce02-10c8-11e3-936e-79eeb5672dec.png)

![screen shot 2013-08-29 at 9 26 45 am](https://f.cloud.github.com/assets/72919/1051318/e49186fe-10c8-11e3-9487-60fda7a41624.png)

*

[2013-08-29 17:10] #2 closed, assigned to kevinsawicki

[2013-10-01 23:04] gjtorikian opened #4 "Add git branch switcher to branch indicator?"
Could probably do this myself if it's desired. Something similar to how the Mac app does it:

![screen shot 2013-10-01 at 4 03 43 pm](https://f.cloud.github.com/assets/64050/1250080/c01ffb7c-2aed-11e3-8e3d-62ec80e8f51f.png)

Use case: I've gotten to the habit of just hitting `atom .` in directories. I'm too lazy to switch out to another app when I realize I want a new or different branch.

[2013-10-21 21:40] #4 closed, assigned to nobody

[2013-12-12 03:13] kevinsawicki opened #8 "Add tooltips"
To things like the git icons and grammar selector to provide more deets.

[2014-01-09 22:07] benogle opened #11 "Everything in status bar is 'low' a couple pixels"
Drives me nuts! :p

![screen shot 2014-01-09 at 2 06 05 pm](https://f.cloud.github.com/assets/69169/1882732/5dc687e4-797a-11e3-9bd1-d4e73044b85c.png)

[2014-01-10 23:30] #11 closed, assigned to nobody

[2014-02-27 02:26] 100terres opened #14 "Several status bar. By activating and deactivating several times."
![screen shot 2014-02-26 at 21 20 26](https://f.cloud.github.com/assets/4420524/2278496/f74324d0-9f55-11e3-9f34-68573060b9af.png)

[2014-02-27 07:18] thomasboyt opened #15 "Document usage from other packages"
It seems like other packages can hook into this plugin by using `atom.workspaceView.statusBar.appendLeft' and other public API calls. It would be nice if this was formally documented :)

[2014-02-27 15:18] kalisjoshua opened #16 "Status Bar Enable/Disable"
![screen shot 2014-02-27 at 10 15 38 am](https://f.cloud.github.com/assets/122826/2283823/188e0e04-9fc2-11e3-8b28-5324ece56fa3.png)

Toggle disable/enable a few times the status bar is added multiple times.

[2014-02-27 15:51] #16 closed, assigned to nobody

[2014-02-27 20:08] ncrow opened #17 "Deactivating than reactivating the status bar creates an additional status bar."
![screen shot 2014-02-27 at 3 08 03 pm](https://f.cloud.github.com/assets/203502/2287266/e818932e-9fea-11e3-9c44-1cef35701048.png)

[2014-02-27 20:09] #17 closed, assigned to nobody

[2014-03-03 21:52] iamogre opened #18 "Status Bar not disabling"
![atom_statusbardisablebug](https://f.cloud.github.com/assets/1059117/2315002/f9fca734-a31d-11e3-96da-13f062c83ed8.gif)

[2014-03-03 21:53] #18 closed, assigned to nobody

[2014-03-03 22:23] #14 closed, assigned to benogle

[2014-03-05 06:20] OleMchls opened #20 "Add prepend methods"
Hey,

As a package author I'd like also to prepend panels to left and right bar. :construction_worker:

cheers :)

[2014-03-07 00:29] #8 closed, assigned to nobody

[2014-03-07 02:17] joshdcomp opened #21 "It'd be nice to have a character count of selected text"
I can only speak to seeing this in the wild via Coda, but I know that when I highlight text, in the same area that it gives line/column position, it also gives a character count of the selected text.

So it would be something like: `[line]/[col] ([count])`

[2014-03-07 23:47] #20 closed, assigned to kevinsawicki

[2014-03-07 23:57] #15 closed, assigned to kevinsawicki

[2014-03-21 00:41] kevinsawicki opened #22 "Support submodules"
This will be available from the core API once atom 0.76.0 ships.

[2014-03-24 21:27] #22 closed, assigned to nobody

[2014-04-02 20:38] kevinsawicki opened #23 "Show git branch and ahead/behind count when no editors are open"
Currently this information is hidden when there is no active item path but it should show the project's branch and ahead/behind count when empty.

That way you can see what branch you are on even with no editors open.

[2014-04-03 23:37] #23 closed, assigned to nobody

[2014-04-11 08:13] k9ordon opened #24 "hide statusbar"
would be nice if the statusbar can be hidden via keyboard shortcut.

[2014-05-12 17:16] trapped opened #25 "Grammar/language/syntax label is stuck"
The grammar label gets stuck to "Plain Text" after opening Atom, until switching file. Changing grammar does not fix the label.
WebM showing the bug: https://www.pellero.it/atom2.webm
Perhaps the status bar doesn't check the current grammar at startup?

[2014-05-14 05:44] #25 closed, assigned to nobody

[2014-05-15 14:21] Nindaleth opened #26 "RIght-clicking the statusbar draws a line"
- downloaded atom
- installed status bar via package manager (or maybe it was there, not sure now)
- right-clicked the status bar, horizontal ~30 px grey line was drawn

Seems like empty menu top or something. Another right-click hides it again
Running on Ubuntu Linux 13.10.

[2014-05-20 22:45] #26 closed, assigned to nobody

[2014-06-17 15:10] kevinsawicki opened #28 "Add package info to status bar"
This could be put in a separate package but I'm opening it here to discuss.

Some ideas for things to put in the status bar when the opened project is an Atom package:

* Linked status for regular and dev mode
* Published version
* Number of stars
* Number of downloads

Initially talked about over in https://github.com/atom/package-generator/pull/15

/cc @smashwilson

[2014-07-14 22:58] davidbarratt opened #29 "Copy Path from bottom Status Bar"
Hello!

Reopening atom/atom#2973 here. :)

Thanks!

[2014-08-01 17:20] #24 closed, assigned to nobody

[2014-08-14 23:20] #21 closed, assigned to nobody

[2014-08-20 13:13] Ti-webdev opened #32 "TypeError: undefined is not a function"
Status Bar 0.43.0

error on run:

TypeError: undefined is not a function
  at DeprecationCopStatusBarView.module.exports.DeprecationCopStatusBarView.update (/opt/atom/resources/app/node_modules/deprecation-cop/lib/deprecation-cop-status-bar-view.js:59:21)
  at DeprecationCopStatusBarView.update (/opt/atom/resources/app/node_modules/deprecation-cop/lib/deprecation-cop-status-bar-view.js:3:61)
  at

[2014-08-20 13:37] #32 closed, assigned to nobody

[2014-09-09 00:13] kevinsawicki opened #34 "Slow startup when editors are open"
Looks like significant time spent hiding/showing things during startup.

![screen shot 2014-09-08 at 5 12 55 pm](https://cloud.githubusercontent.com/assets/671378/4194955/2d486a24-37b6-11e4-9126-786bbd9a446e.png)

[2014-09-16 23:16] #34 closed, assigned to nobody

[2014-09-25 23:38] kevinsawicki opened #36 "Add soft tab and tab width"
- Whether soft or hard tabs are configured
- Tab width
- Allows you to change the value for the current editor or auto-configure based on the content

[2014-11-06 17:48] randy3k opened #38 "Long file paths get cut off"
In some cases, my package would edit temporary files, but the long filen path is really annoying. Is there api to overwrite the default file path?

![screen shot 2014-11-06 at 9 46 14 am](https://cloud.githubusercontent.com/assets/1690993/4940691/e248e6ac-65dc-11e4-97ac-2326d7fe1320.png)

[2014-11-10 23:21] ghost opened #39 "File path covers whole status bar, nothing else is visible"
Long fie paths cover the whole status bar, so no any other info in status bar is visible or it is overlaid with the path. I can't benefit of this plugin until this behavior is improved.

[2014-11-10 23:24] #39 closed, assigned to nobody

[2014-11-29 03:53] D-side opened #41 "Add an option for placing the status bar on top"
I was trying to get the status bar to be at the top, not bottom. Well, I got something usable, but its behavior is weird. I'm not yet good at neither JS or CS, even though I'm trying. And on top of that, it's not a check in configuration, it's a hardcoded mod, not cool.

So far, I swapped a call to `addBottomPanel` for a call to `addTopPanel` in `main.js`. It works fine. But at launch, it gets wei

[2014-12-10 18:17] sovlin opened #44 "Uncaught TypeError: Cannot read property 'getBufferPosition' of undefined"
Uncaught TypeError: Cannot read property 'getBufferPosition' of undefined

**Atom Version**: 0.155.0
**System**: Mac OS X 10.10.1
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.52.0

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

/cc @atom/core

[2014-12-17 19:42] Alchiadus opened #46 "Add an indication for safe mode"
As the title says it would be nice to have an indication in the status bar for when Atom is running in safe mode, much like there is an indication for dev mode.

Cross-linking to the discussion thread where it came up:
https://discuss.atom.io/t/opening-2-related-folders-in-child-parent-order-crashes-atom/13815

[2014-12-17 21:01] #46 closed, assigned to kevinsawicki

[2014-12-20 22:51] omo opened #47 "API: Needs remove() for removing once added status bar item."
I'm writing a package that conditionally adds an status bar item.
I'm doing it by changing the style, but it'd be nice if we can just remove() it.

[2014-12-22 17:26] #47 closed, assigned to maxbrunsfeld

[2015-01-19 20:55] benogle opened #48 "Long strings in statusbar overlap"
![screen shot 2015-01-19 at 12 53 55 pm](https://cloud.githubusercontent.com/assets/69169/5807669/6507f9c0-9fda-11e4-8dc2-573d19f4fe54.png)

[2015-01-22 18:15] atalargo opened #49 "Uncaught NotFoundError: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.174.0
**System**: Mac OS X 10.10.1
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.57.0

### Stack Trace

Uncaught NotFoundError: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.

[code]

### Commands

[code]

### Config

[

[2015-01-22 19:18] 50Wliu commented on #49
Can you share some steps for how to reproduce this please?
Also, if possible, could you try to reproduce this in safe mode (`atom --safe`)?

[2015-01-27 15:58] voylinux opened #50 "Not showing git info (ubuntu)"
Not showing info (looks like not working) after todays fresh install building from source on Linux (Ubuntu 64 bits).
It is actually enabled but showing nothing.

[2015-01-27 16:09] voylinux commented on #50
Showing now. Seems like the editor is not always detecting the branch I am working in.
Twice restarted.

[2015-01-27 16:09] #50 closed

[2015-01-27 16:51] benogle commented on #50
Are you opening the root of the git repo? It can only detect when at the root of the git repo.

[2015-01-27 19:00] voylinux commented on #50
Not sure, really. If it happens again I will check.

[2015-02-03 06:39] JamesGould123 commented on #44
This also occurred for me, after I closed all instances of atom when one took too long to load a large file, and then when I continued to try and open/close other instances, not sure how to replicate, as I believe it was caused by some sort of crash.

[2015-02-05 19:48] benogle commented on #44
Looks like you're about 20 versions behind. Please update to the latest version of atom. This may have been fixed.

[2015-02-11 14:40] mik01aj commented on #36
I mentioned the same enhancement in https://github.com/atom/atom/issues/5497:

[2015-02-11 14:49] ricardograca commented on #36
There's [this package](https://github.com/lee-dohm/indentation-indicator) which ticks all of those options except the last one, which I'd also like to have.

[2015-02-17 13:05] theblacklion commented on #48
Having this all the time - would be nice if being fixed...

[2015-02-17 13:15] theblacklion opened #53 "Enable/disable parts of the status bar"
As we already know in another issue the task bar can quickly be overloaded. Also I find myself having our long feature-branch-names-with-some-stuff consume the whole status bar. Honestly, I don't need to see the branch name there. Or at least not all the time.
Would be nice if I could for example hide the branch part.
Or just don't show the name of the branch but rather give the branch symbol a to

[2015-02-19 20:27] MatthewMueller commented on #44
Looks like this is still happening with the latest, not sure how I ended up in this state though.

**Atom Version**: 0.180.0
**System**: Mac OS X 10.9.5
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.60.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getBufferPosition' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Package

[2015-02-20 13:08] TouPye commented on #44
1. I tried to create a new file via keybindings (It didn't work,  have no clue why)
2. I closed the "new file" (which was not actually created?) via keybindings and got this error

**Atom Version**: 0.181.0
**System**: Microsoft Windows 8.1
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.60.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getBufferPositio

[2015-02-20 13:18] TouPye opened #55 "Can't create a new file"
I have no clue why and how, but it seems I can't create a new file, neither using `FIle > New file` nor the keybinding.

I updated form 0.180.0 to 0.181.0 this morning. No other update nor package install.

**Atom Version**: 0.181.0
**System**: Microsoft Windows 8.1
** User installed packages **

[code]

[2015-02-20 13:19] TouPye commented on #55
Wrong section

[2015-02-20 13:20] #55 closed

[2015-02-20 13:20] TouPye commented on #55
Wrong section

[2015-02-20 21:54] tylermumford commented on #44
I encountered this error, then disabled open-last-project and restarted Atom. No more errors after that, and the keybindings are now working correctly.

[2015-02-21 14:30] cokelly commented on #44
I can confirm what tylermumford wrote. The error is gone when open-last-project is disabled and Atom is restarted.

[2015-02-21 15:35] 50Wliu commented on #44
Looks like this error is caused by packages, so going to close this.

[2015-02-21 15:35] #44 closed

[2015-02-23 02:14] silasvasconcelos opened #56 "Uncaught TypeError: Cannot read property 'getBufferPosition' of undefined"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 0.174.0
**System**: Mac OS X 10.10.2
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.57.0
### Stack Trace

Uncaught TypeError: Cannot read property 'getBufferPosition' of undefined

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

/cc @atom/core

[2015-02-23 04:41] MatthewMueller commented on #44
not sure, but I didn't have `open-last-project` installed

[2015-02-23 07:45] TouPye commented on #44
I think this error is more a "common thing" that can be triggered in many different ways

[2015-02-23 18:16] benogle commented on #56
You should upgrade atom to the latest version. Let me know if this is still an issue.

[2015-03-06 04:59] simurai commented on #53
Are you thinking of having a checkbox in the settings to toggle each item?

Another option would be to hide them in your `styles.less` file. Like

[code]

or for example if you also wanna hide the "current path" that usually takes up a lot of space:

[code]

[2015-03-06 06:28] mehcode commented on #53
I'd like that.

As a UX improvement, perhaps truncating the branch name to N characters (eg. "long-name- ...") and have a hover to show the full name.

![screenshot from 2015-03-05 22 27 05](https://cloud.githubusercontent.com/assets/753919/6521100/cebed972-c386-11e4-9c11-2706c498282a.png)

[2015-03-06 07:21] theblacklion commented on #53
I've found a workaround by using an extension to show the path in the title bar and just hide that thing using:
[code]

But honestly I would find it much easier if I could just tick items on and off.
Also I'm thinking that just showing the symbol with the tooltip containing the full branch name would be a good thing.

[2015-03-06 13:14] papermoon1978 opened #61 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

nothing special - I'm just opening one of my recent projects. The issue happens with all of them. Before the update, everything was fine.

**Atom Version**: 0.182.0
**System**: Microsoft Windows 7 Enterprise
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.63.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

[2015-03-06 13:18] izuzak commented on #61
Thanks for the report. Can you try updating to the latest version (0.186.0) and see if you can reproduce this in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode)?

[2015-03-06 13:27] papermoon1978 commented on #61
No I cannot. Unfortunately. The 186 didn't show up as update in the menu. So I removed atom completely, but cannot install 186 because of an Squirrel error during the setup. :-(

[2015-03-06 13:30] izuzak commented on #61
Can you share the full error you got during setup?

[2015-03-06 13:35] papermoon1978 commented on #61
Sure, but if you want I can also post this somewhere else ...

![atomsetup 1 exe_2015-03-06_14-34-47](https://cloud.githubusercontent.com/assets/4062007/6526086/0e5332cc-c40e-11e4-98df-108b6fb64ae5.png)

Log mentioned:

Program: Starting Squirrel Updater: --install .
Program: Starting install, writing to C:\Users\andre lerche\AppData\Local\SquirrelTemp
CheckForUpdateImpl: Failed to load local rele

[2015-03-06 13:39] izuzak commented on #61
Thanks! It seems that there's a few open and closed issues with the same error message. Can you try some of the approaches recommended in those issues and see if they help?

https://github.com/atom/atom/issues?q=is%3Aissue+Failed+to+update+local+releases+file%3A+System.IO.IOException%3A+The+file+exists.

[2015-03-06 14:12] papermoon1978 commented on #61
Yes you are right. For me cleaning up AppData/local/temp also solved the issue. Also the status bar issue doesn't happen in 186. So both are solved :-)

[2015-03-06 14:13] izuzak commented on #61
High-5, thanks for taking the time to follow this through! Closing this out then. :sunglasses:

[2015-03-06 14:13] #61 closed

[2015-03-06 15:22] simurai commented on #53
Made a PR that prevents overlapping and truncates long branch names: #62

[2015-03-14 17:56] danielbayley commented on #48
+1

[2015-04-07 03:23] #48 closed

[2015-04-07 04:07] simurai commented on #38
In the next update, long file paths still get cut off, but they can now be scrolled horizontally.

* Programmatically truncate a long file path + a tooltip might still be a good idea. Like `/private/va...UdtC22e/.bashrc

[2015-04-11 10:59] acoustic04 opened #66 "status-bar.prependRight is deprecated."
Use ::addRightTile({item, priority}) instead.
[code]

[2015-04-11 11:00] acoustic04 opened #67 "status-bar.prependRight is deprecated."
Use ::addRightTile({item, priority}) instead.
[code]

[2015-04-11 11:00] acoustic04 opened #68 "status-bar.prependRight is deprecated."
Use ::addRightTile({item, priority}) instead.
[code]

[2015-04-11 13:16] mnquintana commented on #68
Closing as duplicate of #66

[2015-04-11 13:16] #68 closed

[2015-04-11 13:16] mnquintana commented on #67
Closing as duplicate of #66

[2015-04-11 13:16] #67 closed

[2015-04-11 14:29] #66 closed

[2015-04-13 12:18] atalargo opened #69 "status-bar.prependRight is deprecated."
* Atom version  : 0.190.0
* status-bar version : 0.67.0

Use ::addRightTile({item, priority}) instead.
[code]

[2015-04-13 23:29] maxbrunsfeld commented on #69
@atalargo can you report which packages you have installed (`apm list`)?

[2015-04-15 10:04] mik01aj commented on #49
The same for me. It happens repeatedly when I focus some editor with js code. I suspect that one of the linters is guilty here.

[2015-04-15 12:10] izuzak commented on #69
@maxbrunsfeld Just wanted to mention why I tagged this with `atom` -- I suspected that a package was causing this as well, but it found it strange that deprecation cop pointed to status bar, and not to that package. This reminds me of https://github.com/atom/atom/issues/6310.

[2015-04-15 16:46] maxbrunsfeld commented on #69
Yeah, it seems like a bug in our deprecation system. I'm not sure why the stack trace is so short in this case. I'm hoping we can reproduce this problem if we find out what packages @atalargo was using.

[2015-04-15 16:49] kevinsawicki commented on #69
https://github.com/atom/grim/pull/4 started limited the depth to 3

[2015-04-15 16:58] maxbrunsfeld commented on #69
Oh that's right. So we just need to move the Grim call out by one level. I'll do that.

[2015-04-15 17:03] #69 closed

[2015-04-24 14:25] elpollitodiablo commented on #56
I'm on 0.194.0 and i get this too. will post stack trace when it happens again

[2015-04-24 14:27] elpollitodiablo commented on #56
[Enter steps to reproduce below:]

1. open a lot of files
2. start closing them till error

**Atom Version**: 0.194.0
**System**: Mac OS X 10.10.2
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.69.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getBufferPosition' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[co

[2015-04-24 14:40] lee-dohm commented on #56
Can you be more specific than "a lot" of files? I haven't seen this behavior on less than twenty files. And admittedly, I don't open more than that at once.

[2015-04-24 14:51] elpollitodiablo commented on #56
ok i have to correct myself after testing it again:
1. open 2 or more files
2. close them quickly one after another
3. last file triggers error
additionally: this seems to happen only after some time working with atom. upon closing and re-opening atom, I can't trigger the error anymore.

[2015-04-28 11:12] Fed03 commented on #56
+1
This happens to me also with just one file opened.
I'm on Windows 7 x64, Atom 0.194

[2015-05-01 14:58] andya9 opened #71 "More infos in line counter"
It would be useful to change "row,column" to "row,column/totalrows"; or maybe better "row,column/percentoftotal"; currently we need to rely visually on the scrolling bar.

[2015-05-02 11:28] braver opened #72 "status-bar-right is floated"
I'm dealing with some [layout irregularities in Zen](https://github.com/defunkt/Zen/issues/55) w/r the status-bar and I noticed that the right halve of the status bar still uses the `pull-right` class which floats it to the right. With an `!important` even. Wouldn't it be cleaner to use `align-self: flex-end`? That would coincidentally also solve my problem :) Is this a design decision or just som

[2015-05-02 16:11] simurai commented on #72
Looks like a left-over. The left part is flexible and already pushes the right part to the right. So the `pull-right` class can probably get removed. Although saw that the One theme uses that selector, but can be changed.

[2015-05-07 17:25] bjmiller opened #74 "Deprecation Cop warning: TextBuffer.on is deprecated."
TextBuffer::on is deprecated. Use event subscription methods instead.
[code]

[2015-05-09 03:14] #72 closed

[2015-05-11 15:21] clayreimann opened #75 "Scrollbar obscures the status bar"
![screen shot 2015-05-11 at 10 20 03 am](https://cloud.githubusercontent.com/assets/930039/7568265/688a7c36-f7c7-11e4-8b62-7a1e14c4ad9b.png)

Not sure what's up here, nor how to fix it. Bug?

[2015-05-11 15:23] clayreimann commented on #75
jk, problem doesn't appear in safe mode. I'll start checking my packages.

Sorry for not rtfm-ing

[2015-05-11 15:23] #75 closed

[2015-05-12 10:39] rbu commented on #36
indentation-indicator is doing the right thing. Instead of thinking of a smart icons you have to learn and understand, just put "Spaces: 4" or "Tabs: 2" in there. Could that package just be merged into the default status bar?

[2015-05-27 13:49] aoghina commented on #29
+1, this would be really useful

[2015-06-02 16:40] eaviles commented on #29
Any news about this?

[2015-06-02 18:06] mnquintana commented on #29
None of the core team or maintainers are working on this right now, but PRs are always welcome!

[2015-06-03 15:01] eaviles commented on #29
I may be interested in helping with this :)
How can I learn more about how to start helping?

[2015-06-03 16:47] mnquintana commented on #29
@eaviles You can start by taking a look at the [Contributing guide](https://github.com/atom/atom/blob/master/CONTRIBUTING.md) and feel free to post any questions on [Discuss](https://discuss.atom.io/) or Slack. Basically, to work on a core package you can follow these steps:

1. Fork the repo
1. `git clone your-fork-goes-here`
1. `apm link -d` in the directory of your locally cloned repo
1. Open A

[2015-06-03 17:43] eaviles commented on #29
@mnquintana Amazing! thanks I will definitively give it a try.

[2015-06-05 02:31] bjmiller commented on #74
Is anyone looking at this?

[2015-06-05 04:01] Alhadis opened #81 "Include a tooltip for every icon without a label"
#### Description
Opened a file, saw this in the bottom-right corner:

![huh](https://cloud.githubusercontent.com/assets/2346707/7999015/579a0264-0b88-11e5-93f1-36a3e0070972.png)
Had no idea what it was trying to tell me, and no tooltip was available, either. I resorted to kicking open the developer tools, inspecting the icon in the console, and checking the class attribute to ascertain its purpose

[2015-06-05 04:43] thomasjo commented on #74
Not to my knowledge. I might be wrong, but I don't think there are any plans for replacing this functionality. AFAIK no core package relies on this. /cc @atom/feedback

---
For reference, the problem lies within these [three functions](https://github.com/atom/status-bar/blob/84100eab9e3cd2ffa728c1c3e561147536865976/lib/status-bar-view.coffee#L96-L108).

[2015-06-05 06:04] bjmiller commented on #74
Well, if it's dead/unused code, then it can simply be wiped.  That would solve the problem stemming from the warning.

[2015-06-05 06:49] izuzak commented on #74
@bjmiller Can you clarify which version of Atom you're using, which OS, and how exactly are you able to reproduce this deprecation? Are you able to reproduce it in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode) as well? I'm having trouble trigger that deprecation, so I'm wondering what you're doing differently.

Also, that deprecation see

[2015-06-05 08:23] jerone commented on #81
:+1: on a more user-friendly interface.

[2015-06-05 10:22] mnquintana commented on #81
:+1: I totally support this. I distinctly remember back when I first started using Atom being especially confused by the git status icons in the status bar.

[2015-06-05 12:14] 50Wliu commented on #81
What does that icon mean, anyway?

[2015-06-05 12:21] mnquintana commented on #81
I think it's number of un-comitted insertions and deletions?

[2015-06-05 12:23] 50Wliu commented on #81
Sorry, meant the first picture in the initial issue (unless that's the same thing? :confused:).

[2015-06-05 12:46] jerone commented on #81
It think it means no source changes.

[2015-06-05 14:45] mnquintana opened #82 "Clicking on links in status bar focuses them"
Not quite sure if this counts as a bug or enhancement, but I've noticed that clicking on any links in the status bar focuses them, when it should keep focus on whatever was focused before clicking on them. However, the correct element is focused if you dismiss the modal by clicking away from it.

![untitled](https://cloud.githubusercontent.com/assets/823545/8008397/e91e2094-0b6f-11e5-9a6e-1c14f99b

[2015-06-05 16:03] Alhadis commented on #81
Heh, see? You're all confused as well! There's absolutely no indication as to what it means. =)

The icon is, to my understanding, something to tell the user the current file's being ignored by version control (that is, it matches a path specified in a local `.gitignore`). That never would've occurred to me because I wasn't editing something in a repo (it was actually live file-editing over FTP us

[2015-06-08 11:36] bjmiller commented on #74
I stopped getting it, which suggests to me that it's one if the packages left that hasn't updated - and therefore isn't running.  If I had to guess, I'd say it was the `sloc` package.  It makes heavy use of the status bar, and it already has 14 or so other deprecations.

[2015-06-08 11:49] izuzak commented on #74
Thanks for those details, @bjmiller.

Just tried installing `atom-sloc` (after overriding the block in Atom), and it does cause a deprecation like that:

![screen shot 2015-06-08 at 13 44 33](https://cloud.githubusercontent.com/assets/38924/8034060/90f78ec4-0de4-11e5-8f88-c2f0b62c8b59.png)

That deprecation is correctly attributed to the `atom-sloc` package in Deprecation Cop and the line in the d

[2015-06-08 11:49] #74 closed

[2015-06-09 23:50] mmcnl commented on #71
I'd love to see this too (and think that total rows and percent of total are each useful for different purposes).

[2015-06-10 14:12] jerone commented on #71
Maybe more info in the line counter tooltip:

[code]

[2015-06-11 23:53] kevinsawicki commented on #49
Closing in favor of the linter package issue @mik01aj reported, https://github.com/AtomLinter/Linter/issues/503

[2015-06-11 23:53] #49 closed

[2015-06-16 15:31] cbarrick commented on #71
I'd like to see column numbers that account for the tab with (i.e. a tab should count as more than 1 column). All of these could be implemented as new %verbs in the "Cursor Position Format"

[2015-06-17 05:16] spencerlyon2 opened #83 "Slow "activation time""
time cop consistently reports that this package takes the longest of all my packages to activate (this is a consistent result each time I check time-cop):

![screen shot 2015-06-17 at 1 15 37 am](https://cloud.githubusercontent.com/assets/1001948/8200149/68bd9aa6-148e-11e5-87f0-bfabe35cb252.png)

Any way I can speed this up?

[2015-06-17 16:27] stramel commented on #83
I am hitting the same issue for Loading and Activation.

**Loading:**
![screenshot from 2015-06-17 11 19 50](https://cloud.githubusercontent.com/assets/855184/8212741/03e3e9a0-14e3-11e5-87fe-532657c285e1.png)

**Activation:**
![screenshot from 2015-06-17 11 20 05](https://cloud.githubusercontent.com/assets/855184/8212745/081f9474-14e3-11e5-8444-6a699a53a9e7.png)

**PC Specs:**
 - Intel® Core™ i7-4

[2015-06-25 15:17] harrislapiroff commented on #83
My machine is admittedly older, but this has consistently been taking more than 1s to activate, which makes Atom very slow to start for me.

2.4 GHz Intel Core 2 Duo
8 GB 1067 MHz DDR3
OS X 10.10.3

[2015-06-25 17:49] entr commented on #83
![screenshot from 2015-06-25 20 37 48](https://cloud.githubusercontent.com/assets/191571/8361169/21b5f7aa-1b7a-11e5-8d31-d919cd3548aa.png)

Additional packages
[code]

Atom 1.0
Intel® Core™ i7-4712MQ CPU @ 2.30GHz
16 GB 1600Mhz DDR3
Linux Mint 17

[2015-06-25 19:16] mnquintana commented on #83
Hmm, I wonder if this is because of all the packages consuming the status-bar service...

/cc @jlord

[2015-06-26 07:42] telegnom commented on #56
Same Problem here.
I'm on Linux x64, Atom Version 1.0.0

`TypeError: Cannot read property 'getBufferPosition' of undefined
  at TextEditor.module.exports.TextEditor.getCursorBufferPosition (/usr/share/atom/resources/app.asar/src/text-editor.js:1322:34)
  at status-bar-cursor.CursorPositionView.updatePosition (/usr/share/atom/resources/app.asar/node_modules/status-bar/lib/cursor-position-view.js:73

[2015-06-26 17:52] clementi opened #85 "Failed to activate the linter package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.74.0

### Stack Trace

Failed to activate the linter package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-26 19:27] mnquintana commented on #85
/cc @steelbrain @AsaAyers Any idea what might be going on here?

[2015-06-26 19:29] steelbrain commented on #85
Having a look now. Thanks for reporting.

[2015-06-26 19:29] steelbrain commented on #85
/cc @k2b6s9j

[2015-06-26 19:54] k2b6s9j commented on #85
Hmm... What are your linter settings? Is this a fresh install?

[2015-06-26 19:54] lierdakil commented on #85
Might that be some weird package conflict? What is that `.bin, vundefined` package in package list?

@clementi, could you disable all other user packages except linter and try again?

[2015-06-27 18:51] mrmechko opened #86 "Uncaught NotFoundError: Failed to execute 'insertBefore' on 'Node': The node before which the new..."
[Enter steps to reproduce below:]

1. toggle `travis-ci-status` several times out of impatience.

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.74.0

### Stack Trace

Uncaught NotFoundError: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node

[2015-06-29 09:19] prodelay commented on #83
For me, `status-bar` is the only one in red zone. :smirk:
![screeny](https://cloud.githubusercontent.com/assets/5169378/8404805/9db78bda-1e58-11e5-97cd-547b9b3a6256.png)

[2015-07-01 20:39] eboracus opened #89 "Display hyperlink URLs in the Status Bar"
It would be nice if there was an option for the Status Bar to display the URL of a link when hovering over it with the mouse. Mimicking standard Browser behaviour. I'm mainly referring to links displayed in the Settings/Packages etc. views as opposed to any full URLs already displayed in the text editor view itself.

![hyperlink_statusbar](https://cloud.githubusercontent.com/assets/11758299/846423

[2015-07-01 20:47] mnquintana commented on #89
This seems like a great idea for a package.

[2015-07-02 05:03] lee-dohm commented on #83
The easy way to find out if it is because of other packages consuming the `status-bar` service would be if everyone can launch Atom cold by:

1. Completely exiting all instances of Atom
1. Launch Atom using `atom --safe`
1. Report your Timecop results before and after

[2015-07-02 14:16] 50Wliu commented on #29
Solved by #28.  This should be available in the next Atom version, 1.0.1.

[2015-07-02 14:16] #29 closed

[2015-07-02 14:56] eaviles commented on #29
Cool @50Wliu, thanks for the update.

[2015-07-02 19:49] stramel commented on #83
@lee-dohm This is "safe" mode opening with a folder of only 4 files.

![screenshot from 2015-07-02 14 45 12](https://cloud.githubusercontent.com/assets/855184/8486247/135c60dc-20c9-11e5-883b-f89fbfe63fd2.png)

However, when I load my normal project folder on open in safe mode and it opens a bunch of files that were opened when it closed. (Using "safe" mode) Every system plugin was in the red on th

[2015-07-02 20:55] benogle commented on #89
Agreed. I would love to see this. I think a package would be awesome. I could see us bundling something like this as well.

[2015-07-02 20:58] mnquintana commented on #89
This would also essentially resolve https://github.com/atom/settings-view/issues/330

[2015-07-02 22:40] kubetz commented on #83
@lee-dohm @mnquintana

I tried to profile status-bar startup in a very primitive way. I set a breakpoint on the 1st line of `status-bar/lib/main.coffee` and then profiled the activation of the status-bar package using Developer Tools.

What I found out is that `DeprecationCopStatusBarView.updateDeprecatedSelectorCount()` was called **82 times**. After that I disabled `deprecation-cop` package to c

[2015-07-03 02:04] eboracus commented on #89
I just came across #330 and was going to link here... until I reached the bottom. :) I think a URL down at the bottom like this would certainly be better than the one appearing by the cursor.

I'd give this a go myself, but I use other languages and only relatively new into Less/CoffeeScript, so something of this kind is currently out of my scope. If this is still open further down the line though

[2015-07-03 07:10] jerone commented on #83
Complete new Windows install today, so complete new install of Atom, running for the second time, resulting in:
![2015-07-03 09_06_20-timecop - c__users_jwm_ atom - atom](https://cloud.githubusercontent.com/assets/55841/8494222/3b6ebb48-2163-11e5-9748-ffad60b0042d.png)

Atom 1.0.0
Windows 8.1 64-bits

[2015-07-08 12:58] alefragnani opened #91 "Rearrange Status Bar to the Bottom Panel"
Would be interesting to have the Status Bar shown in the bottom of Atom window, instead of the bottom of the Editors.

I posted this question in Atom Discussion https://discuss.atom.io/t/rearrange-status-bar-to-the-bottom-panel/18597/2 and @mnquintana asked me to add an issue to that.

Thanks

[2015-07-08 20:06] AnotherJoSmith opened #92 "Version control modification counter causes overlapping text on the bottom toolbar"
Here is what my bottom toolbar looks like when a file with no modifications is open:
<img width="721" alt="screen shot 2015-07-08 at 3 51 53 pm" src="https://cloud.githubusercontent.com/assets/3300109/8580624/9ef4e244-2589-11e5-8ee2-c53775b5ecf4.png">

But when I switch tabs to a file with modified lines and the version control modification widget is displayed, it looks like this:
<img width="724"

[2015-07-08 23:38] 50Wliu commented on #92
Does this still happen in safe mode (`atom --safe`)?

[2015-07-09 00:07] benogle commented on #92
This might be a chrome rendering issue a la https://github.com/atom/atom/issues/4924

[2015-07-09 02:50] sriharshakappala commented on #56
[Enter steps to reproduce below:]

1.Switching over multiple files quickly Ctrl+Alt+T throws this too

**Atom Version**: 0.209.0
**System**: Microsoft Windows 8 Single Language
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.74.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getBufferPosition' of undefined

[code]

### Commands

[code]

### Config

[code

[2015-07-20 17:48] jdsimcoe commented on #56
:+1: This happens when I used the contextual menu to `Close this pane`.

[2015-07-20 18:12] kevinsawicki commented on #28
Closing this out, this should probably be done in a separate package, not in the core status bar.

[2015-07-20 18:12] #28 closed

[2015-08-13 02:33] Alhadis opened #96 "Squirrel icon should disappear after upgrade if user's clicked release notes"
**Trivial nag:**
When an update's ready to be installed, the blue Squirrel icon appears in the status bar. If a user's already read the newest changes (probably by clicking on it), and then restarted Atom to install the upgrade, the rodent should rack off after.

Just a small thing I feel would benefit the overall UX a little if it were catered to. =)

[2015-08-13 03:35] Abdillah commented on #36
Solving this issue is very important IMO, once [this](https://github.com/atom/atom/pull/8356) pull request is merged. It implements scoped setting of new `tabType`.
For this, indicators are not enough, it should pop up selector once clicked, or simple dropdown menu.

[2015-08-13 11:01] jerone commented on #96
Possible duplicates: https://github.com/atom/atom/issues/6922 & https://github.com/atom/release-notes/issues/36

[2015-08-13 11:02] mnquintana commented on #96
Thanks @jerone! This does indeed seem like a duplicate of https://github.com/atom/release-notes/issues/36 – closing this out in favor of that issue.

[2015-08-13 11:02] #96 closed

[2015-08-13 17:36] benogle commented on #36
@Abdillah would you be interested in a PR to add this functionality?

[2015-08-16 06:03] Abdillah commented on #36
@benogle sure, let me try on this.

[2015-08-17 07:13] Abdillah commented on #82
This is critical for any veteran emacs user. They might say, "No :mouse: should be required."
Although, pressing <kbd>Tab</kbd> several time return the cursor to `TextEditor`.

[2015-08-27 13:40] Alhadis opened #101 "Disable copying current path for new documents"
A picture's worth a thousand words, so I figure this one says all:

<img width="124" alt="screen shot 2015-08-27 at 11 29 16 pm" src="https://cloud.githubusercontent.com/assets/2346707/9521896/c8e568d2-4d14-11e5-98d2-b84b23c6a671.png">

I can't see anybody wanting to copy "untitled" to their clipboard when creating a new document; heck, they might even click on it by accident and wipe their system

[2015-08-31 22:25] Alhadis commented on #101
**UPDATE:** Okay, the scope of this issue extends to non-documents, too:

![1](https://cloud.githubusercontent.com/assets/2346707/9592000/efa54142-5082-11e5-9832-32e0aa7fe837.png)

[2015-08-31 22:32] 50Wliu commented on #101
/cc @batjko, @kubetz

[2015-09-01 05:20] batjko commented on #101
Thanks for the ping, @50Wliu.

@Alhadis Can I ask what your expectation was when you clicked on the "untitled" text? Why did you click it and what did you expect to happen?

[2015-09-01 05:50] Alhadis commented on #101
I clicked it by mistake, as I explained in the OP. And technically, nothing should happen.

[2015-09-01 07:36] batjko commented on #101
Ok so that's one way to go, i.e. that nothing should happen.

Another one, and the reason why it behaves like this right now, is that it is consistent that a click on that text copies whatever is displayed.

Consistency of expectation being the main reasoning here, i.e. that people normally wouldn't click that text on purpose, unless they expect to copy it.

However, I also see the point that copy

[2015-09-01 11:53] Alhadis commented on #101
I'd say just remove the visual cue (underline) and the pointer cursor so there's no incentive for the user to click it and expect a result.

[2015-09-01 12:08] mnquintana commented on #101
I agree with this. I think this is a case where maintaining consistency actually leads to a confusing user experience, because there is essentially no use case for copying a "path" from the status bar that isn't a real path.

I would've said before that the solution is to disable path copying for everything but open file buffers, but with https://github.com/atom/status-bar/pull/100 now I think we'

[2015-09-01 16:29] batjko commented on #101
Yes, that makes sense to me. I'll see if I can take some time to add that in quickly.

"Don't you touch that... no... leave it alone... you know it doesn't make sense, just... now you did! Why? Why did you just click this thing that says nothing but "untitled"... What in the world did you expect to happen here? Do I really have to remove the incentive for you to click on it. Fuck it, you clicked o

[2015-09-02 21:41] Alhadis commented on #101
LOL, something like that. ;p

[2015-09-05 00:00] him0 opened #102 "Failed to load the status-bar package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.11
**System**: Mac OS X 10.9.5
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.79.0

### Stack Trace

Failed to load the status-bar package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-05 00:38] 50Wliu commented on #102
Hi @him0, can you please try safe mode (`atom --safe`) and see if you can still reproduce this error?  Thanks.

[2015-09-06 16:38] danielbayley opened #103 "Settings option to open/add project folder from clicking on status bar file path"
…rather than only copy the path.

[2015-09-08 03:04] Daniel15 opened #104 "Only copy relative path when copied"
I'm using Nuclide with a project on a remote server, but I believe this applies to local projects too. Let me know if this is specific to Nuclide though.

---

The path of the current file relative to the current project is displayed in the Atom status bar, which is really useful. However, clicking it copies the *absolute* path, not the relative one:
![Screenshot of issue](https://cloud.githubuser

[2015-09-08 08:47] stephanos commented on #91
I agree.

A layout like this
[code]

would provide much more space to important information in panels and the status bar. Currently the file tree takes up all that space which I find very wasteful.

[2015-09-09 02:04] 50Wliu commented on #104
@batjko @kubetz

[2015-09-09 16:55] batjko commented on #104
Something like `shift-click` could get the relative path, I suppose.
This could be done together with #101, but I have very little time these days and might only get to it in a week or two.

Perhaps @kubetz (or somebody else) can do it faster?
If not, I'm definitely happy to look at this as well, might just take a little while.

[2015-09-25 07:56] simurai commented on #91
There is now an issue about allowing top/bottom bars in general: https://github.com/atom/atom/issues/8939

Once that is possible, it could be considered to change the status bar.

[2015-10-03 02:07] simurai commented on #91
I tried out making the status-bar to take up full-width, like:

![screen shot 2015-10-03 at 10 20 49 am](https://cloud.githubusercontent.com/assets/378023/10260897/799a545e-69bb-11e5-9f63-0c756a11f1e2.png)

But somehow it feels wrong. I think the reason is because the status-bar changes based on the active editor and should somewhat stay connected to it. Full-width at the bottom it feels like it's

[2015-10-03 08:57] jerone commented on #91
I disagree about that the status-bar should be connected (same width) to the editor. The status-bar can contain tiles that aren't necessary related to the editor. Besides, if I split the screen it doesn't split the status-bar too. Making the status-bar to the full width has my preference. :+1:

[2015-10-03 15:39] pradyunsg commented on #91
I agree with @jerone, I would expect the status-bar to be full-width. And just in case, a conflagration won't hurt. :wink:

[2015-10-10 08:08] maldad opened #105 "I can't see my active Git branch, I don't know why"
I can see file path, cursor position and grammar, but not branch, even commits doesn't appear, and I'm working on a git directory :/
![image](https://cloud.githubusercontent.com/assets/11675538/10410076/1f623bfa-6efc-11e5-9c0d-174b3d1f4902.png)

![image](https://cloud.githubusercontent.com/assets/11675538/10410078/2e0176f8-6efc-11e5-873e-c09354d77c1d.png)

[2015-10-10 09:33] thomasjo commented on #105
Are you able to reproduce this in safe mode? `atom --safe`
In addition, which version of Atom are you using and what OS?

[2015-10-11 07:52] maldad commented on #105
Thanks for the attention, yes i can do ``` atom --safe ```
![image](https://cloud.githubusercontent.com/assets/11675538/10415876/b7a4850a-6fc2-11e5-9108-eaac441d7028.png)

And i'm using
##### Atom 1.0.19,
downloaded from the web page, (a .deb file)
##### OS: Elementary OS 0.3.1 Freya 64 bits

[2015-10-12 11:17] izuzak opened #106 "Not-quite-clicking on the path generates “copied” feedback; doesn't follow through"
_From @steveluscher on October 9, 2015 22:4_

# Repro

1. Hover your mouse just outside the pathname at bottom left
2. Click; note that a tooltip appears saying the path has been copied to the clipboard
3. Paste.

# Expected

The path is pasted.

# Actual

The path was never actually copied.

*Note: Hovering over the path such that the underline appears yields the desired behavior.*

_Copied from

[2015-10-21 07:58] jody90 opened #109 "Uncaught TypeError: Cannot read property 'priority' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Ubuntu 14.04.3
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.79.0

### Stack Trace

Uncaught TypeError: Cannot read property 'priority' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-21 12:28] 50Wliu commented on #109
Looks like `jshint` is causing this error - @jody90 can you try disabling the `jshint` package and see if that helps?

[2015-10-28 20:41] lee-dohm opened #110 "Add channel indicator to status bar"
I would love to have something that works like this:

1. If a custom-built version (i.e. version number has hyphen and SHA), show blue Atom icon
1. If a beta version (i.e. version number has hyphen followed by "beta"), show gold Atom icon
1. If a released version (i.e. version number has no hyphen in it), configurable to show no indicator or green Atom icon

I would place it all the way at the rig

[2015-11-06 01:52] ButchAnton opened #111 "Failed to activate the status-bar package"
I was updating the status-bar package and received the following error.

**Atom Version**: 1.1.0
**System**: Mac OS X 10.11.2
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.80.0

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-09 19:16] lee-dohm commented on #110
Putting this information in the title bar instead https://github.com/atom/atom/issues/9498

[2015-11-09 19:16] #110 closed

[2015-11-16 18:13] izuzak opened #113 "File path copied with Linux/Unix style on Windows"
_From @niall83 on November 16, 2015 17:23_

In the status bar at the bottom of the editor window it displays the path for the currently open file e.g. C:\test\test.txt.

When I click on it, in order to copy the path to the clip board it copies with a Linux/Unix style path even though I'm using Windows:
/test/test.txt

![image](https://cloud.githubusercontent.com/assets/15875346/11189156/949f974e-8

[2015-12-13 19:02] shieldwed commented on #86
Got the same exception, which lead me to this issue:

1. Enabling the dartlang plugin (It was disabled at startup and before)

**Atom Version**: 1.3.1
**System**: Microsoft Windows 10 Pro
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.80.0

### Stack Trace

Uncaught NotFoundError: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be

[2015-12-27 17:33] bendavis78 opened #115 ""priority" should be set by the user"
As a package author, it's not very clear what number to choose for the priority, since I don't know what the priorities are on any other tiles. I've actually tried setting it to 0 and 999 and my tile is always placed to the right of the linter tiles for some reason.

Wouldn't it be more useful to allow the user to change the position of the tiles?

[2015-12-27 17:52] jerone commented on #115
There's a package for reordering status bar items: [move-status-items](https://atom.io/packages/move-status-items).

[2016-01-06 20:38] sebashotte commented on #109
Hi, I just got this issue and my `jshint` is disable.

Thanks

[2016-01-09 00:18] pixelchutes opened #116 "Only partial file path gets copied from status bar if contains hash key (#)"
When clicking the file path in the status bar to copy it to your clipboard, I noticed that if the path contains a hash key / pound sign (#) that the contents copied to your clipboard are truncated at the hash character.

![filepath](https://cloud.githubusercontent.com/assets/352182/12212791/6be3b744-b62b-11e5-8ea9-163f752b9c8b.jpg)

![filepath](https://cloud.githubusercontent.com/assets/352182/122

[2016-01-26 05:13] flashus commented on #83
I have problems with status-bar git part. When I open git repository it takes long time to open files there. Atom started from cmd `atom --safe`
![2016-01-26 15-01-42 timecop - c apps idyachenko yandexdisk _src haskell real - atom](https://cloud.githubusercontent.com/assets/415021/12572910/ef09ef9c-c43d-11e5-9738-bb51a0e726b0.png)
Profiling point to  GitRepository.prototype.getDiffStats:
![2016-01

[2016-01-26 16:19] lee-dohm commented on #83
@flashus I suspect that you have a new underlying issue that we'll need to investigate separately. Would you open a new Issue please?

It also appears that this Issue was fixed by atom/deprecation-cop#56, so I'm going to close this.

[2016-01-26 16:19] #83 closed

[2016-01-27 00:27] flashus opened #117 "status-bar, tree-view long time loading on git repos on windows."
I have problems with status-bar git part. When I open git repository it takes long time to open files there. Atom started from cmd `atom --safe`
![2016-01-26 15-01-42 timecop - c apps idyachenko yandexdisk _src haskell real - atom](https://cloud.githubusercontent.com/assets/415021/12572910/ef09ef9c-c43d-11e5-9738-bb51a0e726b0.png)
Profiling point to  GitRepository.prototype.getDiffStats:
![2016-01

[2016-01-27 00:32] lee-dohm commented on #117
Thanks for opening a new Issue :grinning:

[2016-01-27 00:35] flashus commented on #117
Thanks for quick response! :+1:

[2016-01-27 00:37] lee-dohm commented on #117
We're working on some stuff to improve the overall performance of the Git repository interactions. These changes *should* alleviate some of this pain. I just don't know what the schedule is on getting those changes out right now :frowning:

/cc @joshaber for when he gets back from vacation

[2016-01-30 20:16] awans commented on #104
Hey all, I've taken a crack at implement it. This is my first atom contribution so please don't hesitate to tell me if I've done something wrong here!

[2016-02-01 15:42] joshaber commented on #117
Unfortunately we're probably still a few versions away from those fixes being released. :disappointed:  But know that it _is_ coming.

[2016-02-01 16:24] #81 closed

[2016-02-02 06:03] Tyriar opened #120 "Add tests for missing git-view cases"
As mentioned in https://github.com/atom/status-bar/pull/107, there are tests missing for the view and tooltip for:

- &lt;num> commit(s) ahead &lt;branch>
- &lt;num> commit(s) behind &lt;branch>
- &lt;num> line(s) deleted
- &lt;num> line(s) added and &lt;num> line(s) deleted

[2016-02-05 00:38] thedaniel commented on #104
@atom/feedback I am hesitant to use such a potentially 'valuable' binding for something that's just a slight variation on the existing behavior, and I am slightly :-1: on this functionality being included at all.
In general I think we could save ctrl-click for something a little more powerful down the road - "open in finder" "reveal in tree view" or "open on github" spring to mind.

I'm not sure w

[2016-02-05 00:52] awans commented on #104
Completely happy to use `shift+click` instead. I'll take another pass at this tonight..

I want the relative path when I want to:
- refer precisely to the file to a co-worker over chat
- access the file on a remote server (also pasting into a terminal)

In both cases it's much easier to have `project/code/path/file.py` than `/Users/awans/project/code/path/file.py`

[2016-02-05 03:51] awans commented on #104
(I've updated the PR to use shift-click now)

[2016-02-17 09:48] arussellsaw opened #123 "Failed to activate the status-bar package as of 1.0"
after installing + restarting atom.
[code]

[2016-02-17 13:21] thomasjo commented on #123
This package is bundled with Atom and should not be installed manually. As of writing this, the `master` branch of Atom doesn't even use status-bar v1.0.0. Your problem will be resolved by uninstalling your manual installation of status-bar.

If you want to develop on this package, make sure you do so against a build of Atom that is as bleeding edge as possible (aka. run a fresh build against `mas

[2016-02-17 13:21] #123 closed

[2016-02-17 16:15] amosrivera opened #124 "Uncaught TypeError: Cannot read property 'onDidChangeStatus' of undefined"
1. Try to open up project using project switcher

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.0.0

### Stack Trace

Uncaught TypeError: Cannot read property 'onDidChangeStatus' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-17 17:27] 50Wliu commented on #124
To quote @thomasjo:

If you want to develop on this package, make sure you do so against a build of Atom that is as bleeding edge as possible (aka. run a fresh build against master at every day).

[2016-02-17 17:27] #124 closed

[2016-02-19 20:51] sandover opened #125 "status bar which has been toggled to be invisible does not stay invisible"
## Steps:
1. command-shift-p status bar toggle to put the toggle into hidden mode
2. quit Atom
3. start Atom
## Expected behavior

Status bar remains hidden
## Actual behavior

Status bar is visible again

[2016-02-22 13:53] simonvanderveldt commented on #105
This seems to be the case when the root directory you've opened isn't a git directory.
In other words the git status being shown doesn't solely depend on the file you're currently editing, which seems wrong to me.

@maldad If I had to guess your `lineas` directory is probably nested below some other directory/directories you opened with Atom.
If you open the `lineas` directory directly it should w

[2016-02-22 22:51] lee-dohm commented on #105
@maldad if what @simonvanderveldt is suggesting is correct, then this is a special case of https://github.com/atom/atom/issues/2203. Can you confirm?

[2016-02-23 01:18] maldad commented on #105
@simonvanderveldt @lee-dohm
It's curious, it works only with git directories opened as root directory, thanks for your answers :D

Now I can see my branch, but only if the root directory is a git directory, as you said.

![image](https://cloud.githubusercontent.com/assets/11675538/13238474/d24ef2ec-d998-11e5-997c-4c842392f3d8.png)

[2016-02-23 02:43] lee-dohm commented on #105
Thanks for following up so quickly, @maldad! I'm going to close this as a duplicate of atom/atom#2203 then. Please subscribe there for updates :grinning:

[2016-02-23 02:43] #105 closed

[2016-03-03 21:47] 50Wliu opened #126 "Incorrect diff marker"
After opening a file and saving it once, the following occurs:
![diff-marker](https://cloud.githubusercontent.com/assets/2766036/13510420/5f8d18f6-e15e-11e5-997f-07d4b74a6c01.png)
despite there being no changes.  Tree View, git-diff, and Tabs display the diff status correctly.

**Only CRLF files are affected.  LF files are fine.**

While the status bar believes that the file has been modified, if

[2016-03-04 21:15] joshaber commented on #126
@50Wliu Thanks for opening this up. Do you happen to have an example file/repo you could point me to?

[2016-03-04 22:02] 50Wliu commented on #126
Sure!  https://github.com/saxocellphone/Three should trigger it (`js/graph.js` is CRLF, while `css/style.css` isn't).

[2016-03-04 22:07] joshaber commented on #126
:heart: I'll take a look on Monday.

[2016-03-05 17:05] joshaber commented on #126
So it looks like this behavior isn't new. 1.5.4 seems to behave about the same, except that the diff stats show every line as having been added/remove. (I fixed that in https://github.com/atom/atom/pull/11022.)

[2016-03-08 01:16] 50Wliu opened #128 "Status Bar occasionally does not detect branch changes"
Sometimes when switching branches, Status Bar fails to notice that the branch changed, even though the file contents updated correctly.  Switching files, opening a new file, saving the file, etc. will cause Status Bar to realize its mistake.

You may need to switch branches a couple of times before this occurs.  I haven't found a reliable reproduction method yet.

Reproduced in safe mode on Window

[2016-03-08 18:37] #128 closed

[2016-03-14 12:49] #102 closed

[2016-03-16 17:31] joshaber opened #132 "Move status-bar into the bottom bar"
This will let `status-bar` span the full width of the window, instead of just the width of the text editor.

See https://github.com/atom/atom/pull/9274.

[2016-03-17 14:31] #132 closed

[2016-03-17 22:51] Arcanemagus commented on #124
Just had this thrown from v1.7.0-beta0, however I'm guessing that this is probably related to having [svn](https://atom.io/packages/svn) installed.

**Atom Version**: 1.7.0-beta0
**System**: Microsoft Windows 10 Enterprise
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.1.2

### Stack Trace

Uncaught TypeError: Cannot read property 'onDidChangeStatus' of undefined

[c

[2016-03-17 22:53] Arcanemagus commented on #124
Yep, definitely related to having the [svn](https://atom.io/packages/svn) package installed, although I'm not sure why it is being thrown against this package.

[2016-03-17 23:00] 50Wliu commented on #124
@Arcanemagus The reason it got thrown here is because there's nothing to suggest `svn` is at fault in the stack trace.

[2016-03-17 23:04] Arcanemagus commented on #124
Note for anyone coming here for the same reason: Filed https://github.com/andischerer/atom-svn/issues/20 for that specific package.

[2016-03-18 02:35] nixpulvis commented on #91
I was kinda expecting to see this land with the release of 1.6, is that still the plan?

[2016-03-18 02:51] 50Wliu commented on #91
This was added in #133 and at the current pace of development will be available in Atom 1.8.0 (it just barely missed 1.7.0, sorry about that).

[2016-03-18 02:51] #91 closed

[2016-03-18 02:53] 50Wliu commented on #85
No response, closing.

[2016-03-18 02:53] #85 closed

[2016-03-18 02:56] nixpulvis commented on #91
It's OK, this gives me an excuse to learn how to override the built in packages.

[2016-03-18 02:57] 50Wliu commented on #86
I could not reproduce this following @mrmechko's reproduction steps (I even assigned a keybinding to `travis-ci-status:toggle` for rapid toggling).  Using travis-ci-status@1.0.0 and Atom 1.7.0-dev-f48069c.

[2016-03-18 02:58] 50Wliu commented on #92
No response, and the above issue has been closed, so closing.

@AnotherJoSmith if you are still experiencing this issue on the latest Atom version (currently 1.6.0), please comment here.

[2016-03-18 02:58] #92 closed

[2016-03-18 03:01] 50Wliu commented on #106
I can't reproduce this on Atom 1.7.0-dev-f48069c.  @steveluscher can you please try again on Atom 1.6.0?

[2016-03-18 03:02] 50Wliu commented on #111
Please remove the `status-bar` package by executing `apm uninstall status-bar` (or uninstalling it through the Settings View) as it is meant to be bundled with Atom and not installed manually.

[2016-03-18 03:02] #111 closed

[2016-03-18 03:02] 50Wliu commented on #113
Confirmed...on Windows!

[2016-03-18 03:03] 50Wliu commented on #117
@joshaber Has this been fixed with status-bar@1.0.0?

[2016-03-18 14:33] joshaber commented on #117
Hmm, it's hard to say. `GitRepository` still does a lot of work behind the scenes. The best way to find out would be to try it!

[2016-03-18 22:39] dwelle commented on #104
Shouldn't #118 be released by now? Can anyone confirm `shift+click` is copying relative path on windows? I'm on `1.1.2` and it doesn't seem to work for me.

[2016-03-18 22:41] dwelle commented on #113
WTBS, I actually prefer unix style even on windows. I'm using git-bash and windows style paths would require quoting -- so it'd be great if we could customize it when we align the package to windows-style.

[2016-03-18 23:52] lee-dohm commented on #104
Yes, #118 was released in v0.83.0 of status-bar and is available in the current stable release of Atom, v1.6.0. I also just confirmed that it works using <kbd>Shift+Click</kbd> on Atom v1.6.0 on Mac OS X 10.11.3.

Thanks everyone!

[2016-03-18 23:52] #104 closed

[2016-03-19 09:22] dwelle commented on #104
I can confirm that on `1.7.0-beta0` __Windows 7__ it doesn't work.

[2016-03-19 23:00] Daniel15 opened #135 "Shift+Click to copy relative path doesn't work on Windows"
Shift+Click on the path in the status bar to copy the relative path was added in #104/#118, but this functionality doesn't appear to work on Windows.

My test results on Atom v1.6.0:

 - Mac OS X, local project: Shift+Click works, copies relative path
 - Windows, remote project on Linux server (via Nuclide): Shift+Click works, copies relative path
 - Windows, local project: Shift+Click **doesn't w

[2016-03-19 23:01] Daniel15 commented on #104
Yeah, this is not working for me on Windows either, although it does work for remote Nuclide projects as well as Mac OS X. Opened #135 to track that separately.

[2016-03-20 18:19] mnquintana commented on #135
Can you reproduce this after quitting Atom completely and reopening in safe mode? (`atom --safe`)

[2016-03-20 22:11] Daniel15 commented on #135
@mnquintana - Yes, this still happens in safe mode

[2016-03-24 09:06] MartinMuzatko opened #136 "UX - display which items are clickable"
Hi there!
I'm not sure if this is an issue of the default theme or the status bar.
However - currently you can't really see which status labels are clickable and thus changable or just static.

Please let me know if we should move it to the themes repo.

Thanks in advance

[2016-03-24 09:07] MartinMuzatko opened #137 "Switch Git Branches via Status Bar"
The Status Bar could be so much more powerful.
Having a possibility to switch branches via the branch display would be a lot easier and intuitive.

Please add any concerns you have about this feature request.

Thanks in advance

[2016-03-24 14:07] thomasjo commented on #137
My initial concern is that this will open a flood gate of similar, perhaps ancillary feature requests;
 1. Make it possible to create a new branch, and switch to it.
 2. Make it possible to rename branches.
 3. Make it possible to delete branches.
 4. Make it possible to check out remote branches.
 5. etc.

Don't get me wrong, your suggestion, and mine, are not really a problem to implement. But I

[2016-03-24 20:04] jerone commented on #136
I think this could be solved with https://github.com/atom/settings-view/issues/531

[2016-03-25 20:17] steveluscher commented on #106
This easily reproduces in Atom 1.5.3, but not in 1.6.0. Close away!

[2016-03-26 07:00] lee-dohm commented on #106
Thanks @steveluscher for following up!

[2016-03-26 07:00] #106 closed

[2016-03-28 14:50] 50Wliu commented on #135
Confirmed on Windows.

[2016-03-28 14:50] 50Wliu commented on #137
Please see #94 for the relevant PR.

[2016-03-28 15:08] thomasjo commented on #137
Would be great with some additional :eyes: on this (in conjunction with #94). I stand by my concerns listed earlier, and strongly propose that we extract the existing git branch stuff into a separate package. Then we can implement branch switching and what not either in the new package, or in a community package.

/cc @atom/feedback

[2016-03-29 08:16] MartinMuzatko commented on #137
Thanks a lot for your effort. I understand your concerns @thomasjo

[2016-04-14 08:41] derwaldgeist commented on #124
Everything worked for me until yesterday. Now I am getting this problem as well. Did either svn or the statusbar plugin change in the meantime?

[2016-04-14 08:54] mmarinero opened #143 "Failed to activate the status-bar package after Atom 1.7.0 update"
It crashes even after restarting Atom and the error reporter points me to this issue https://github.com/atom/status-bar/issues/123

I use the same config and packages in another system that I updated yesterday with no issue so it may be tied to this particular machine.

**Atom Version**: 1.7.0
**System**: Ubuntu 14.04.4
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.

[2016-04-14 09:23] gregtyler commented on #143
Also seeing this on Windows 7 with the following packages in common (all at the same version as mmarinero):
 * linter
 * linter-eslint
 * minimap
 * project-manager
 * svn

[2016-04-14 10:09] mbeaudru commented on #143
Same here !

[2016-04-14 11:45] 50Wliu commented on #143
/cc @joshaber maybe?

[2016-04-14 11:54] eviljoe commented on #143
This is caused by the "svn" package.  Here is the issue in that repo: https://github.com/andischerer/atom-svn/issues/20

The workaround is to disable that package until the bug is fixed (I am not sure which project is at fault).

[2016-04-14 16:27] Arcanemagus commented on #124
@derwaldgeist See the linked `atom-svn` issue in the comment above, that is the root issue here, the fact that Atom thinks it is being thrown from the `status-bar` package is a bug (or just a fluke in the call stack, not sure).

[2016-04-15 10:18] mrstebo commented on #124
I am getting the same issue after installing atom-hg, and don't have atom-svn installed.

[2016-04-15 15:56] mrstebo commented on #124
It turns out atom-hg has the same problem as svn. It is missing the async repository that is how required in Atom 1.7
[See here](http://blog.atom.io/2016/03/17/atom-1-6-and-1-7-beta.html)

They will be removing the sync stuff.

[2016-04-22 06:33] amoghe commented on #71
+1

any idea whether this is still being worked on?

[2016-04-22 07:44] vividtone commented on #143
In my environment, this issue was fixed by disabling nuclide-hg-repository package version 0.0.35.

[2016-04-22 12:56] eviljoe commented on #143
@vividtone, I did some research about this and this is what I came up with as far as changes that are necessary for the svn package:

[2016-04-22 21:35] cjduncana opened #144 "Let the column count be zero-indexed"
As of right now, if you have the cursor at the beginning of the line, according to the status bar, it is column 1. This confuse me when I am trying to pay attention character count to maintain the style guideline. This issue has already been brought up at the atom core repository. atom/atom#11371 suggests to provide a toggle to change between zero-index and one-index.

**Atom Version:** Atom 1.6.2

[2016-05-04 02:56] karen818 opened #145 "Uncaught TypeError: Cannot read property 'getLastSelection' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.3
**System**: Mac OS X 10.11.4
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.1.2

### Stack Trace

Uncaught TypeError: Cannot read property 'getLastSelection' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-05-04 08:00] Shiho06 commented on #143
Updated svn package to 0.0.10 today, everything seems to be ok.

[2016-05-04 08:00] Shiho06 commented on #143
Just updated svn package to 0.0.10, everything seems to be ok now.

[2016-05-04 08:19] #143 closed

[2016-05-05 18:42] andela-ooranagwa opened #146 "Uncaught TypeError: Cannot read property 'getLastCursor' of undefined"
[Enter steps to reproduce below:]

1. Select preferences from atom menu bar drop down

**Atom Version**: 1.7.3
**System**: Mac OS X 10.11.4
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.1.2

### Stack Trace

Uncaught TypeError: Cannot read property 'getLastCursor' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-05-07 19:25] sharifzadesina opened #147 "Property List files"
Hi
If we open xml format plist files atom detect that files grammar as binary format plists.
I'm using atom 1.7.3.
Thanks.

![2016-05-07_23-57-06](https://cloud.githubusercontent.com/assets/15300551/15094122/f87cd608-14af-11e6-80f3-86ae54bab82a.png)

I changed grammar manually in bottom image.

![2016-05-07_23-57-41](https://cloud.githubusercontent.com/assets/15300551/15094123/f88103c2-14af-11e6-8

[2016-05-07 21:03] 50Wliu commented on #147
This is a duplicate of atom/language-property-list#5 - feel free to subscribe there for updates.

[2016-05-07 21:03] #147 closed

[2016-05-10 23:47] phoenixeliot commented on #146
This appears to occur when the cursor is on a newline at the end of a file that Whitespace automatically trims, and you have autosave enabled.

Repro steps:

- In Whitespace's settings, enable "Ensure Single Trailing Newline"
- In config.cson, set: ```
  autosave:
    enabled: true
[code]

[2016-05-24 17:00] tyrsius commented on #109
I just got this issue and I don't have jshint installed

[2016-05-24 20:17] 50Wliu commented on #109
@tyrsius can you please open a new issue on [atom/image-view](https://github.com/atom/image-view) for your exception?  Thanks.

Until there's evidence that status-bar is at fault here and not packages consuming status-bar, I'm going to close this issue.

[2016-05-24 20:17] #109 closed

[2016-06-01 08:11] #113 closed

[2016-06-01 14:21] Ben3eeE commented on #146
Was able to reproduce in safe mode with the steps @phoenixeliot posted.

**Atom Version**: 1.7.4
**System**: Microsoft Windows 7 Professional
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.1.2

### Stack Trace

Uncaught TypeError: Cannot read property 'getLastCursor' of undefined

[code]

[2016-06-04 22:13] lee-dohm commented on #144
I'm not sure it makes sense to have a zero-indexed column count but a one-indexed row count. I would hope that both would be zero-indexed or one-indexed, not mix-and-match.

[2016-06-07 02:46] Alhadis commented on #91
100% agreed with this. I can see how many people would want the status-bar to be full-width, but it now feels more detached.

Seems to be a forgotten art in this day and age...

Time for a PR I suppose.

[2016-06-07 07:23] Alhadis commented on #91
[Aaaand pull-request sent!](https://github.com/atom/status-bar/pull/152)

[2016-06-09 12:01] Campanula commented on #91
![really](https://cloud.githubusercontent.com/assets/8176642/15928988/c3fa8ca4-2e7c-11e6-951c-d36b8c40f84b.png)

[2016-06-16 19:45] raky291 opened #153 "Display notifications in the status bar as Sublime"
Display notifications in the status bar as Sublime.
Here are some basic examples:
![sublime](https://cloud.githubusercontent.com/assets/12045722/16130892/7fae8b58-33c8-11e6-94fe-fe5c89b9ac49.jpg)

[2016-06-16 20:26] #135 closed

[2016-06-28 07:44] stefan-kern opened #154 "Uncaught TypeError: Cannot read property 'then' of null"
``/usr/share/atom-beta/resources/app.asar/src/pane.js:1026``

[code]

error triggers on every save
atom version 1.9.0-beta0
status bar 1.3.1

[2016-07-01 20:39] bsaunder commented on #56
[Enter steps to reproduce below:]

1. Open Settings Tab when 1 or more Other files are open
2. Click the "X" on the Settings Tab to Close it

**Atom Version**: 0.182.0
**System**: linux 4.5.7-200.fc23.x86_64
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v0.60.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getBufferPosition' of undefined

[code]

### Comm

[2016-07-05 20:06] gnasit commented on #124
why is this closed.? has this been resolved?
for me atleast, i am still getting this issue, and i am on v1.8.0

[2016-07-05 20:09] Arcanemagus commented on #124
@gnasit the original (closed) issue was related to trying to update a bundled core plugin. The subsequent stack traces posted so far were all related to the `atom-svn` package, which should supposedly be fixed. Try updating that, and if you are still seeing problems, file a _new_ issue with your full debug information.

[2016-07-16 02:03] avraamisvi opened #157 "Uncaught TypeError: Cannot read property 'onDidChangeStatuses' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Ubuntu 16.04
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0

### Stack Trace

Uncaught TypeError: Cannot read property 'onDidChangeStatuses' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-16 04:01] ghermans commented on #157
I'm having the same issue as reported above.

## issue report

**Atom Version**: 1.8.0
**System**: Ubuntu 16.04
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0

### Stack Trace

Uncaught TypeError: Cannot read property 'onDidChangeStatuses' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-16 04:45] lee-dohm commented on #157
Any indication of what you were doing at the time that the error occurred?

[2016-07-16 04:49] ghermans commented on #157
@lee-dohm i get this error when i try to add a project folder.

[2016-07-16 04:52] lee-dohm commented on #157
Atom v1.8.0 ships with status-bar v1.2.3. This appears to be a "customized" version of Atom from a Linux package manager that was released without proper testing on their part. Please follow up with the maintainer of that customized version of Atom.

[2016-07-16 04:55] lee-dohm commented on #154
Please post the full set of diagnostic information that Atom collects. This will help us root cause the problem.

[2016-07-16 04:58] lee-dohm commented on #153
Thanks very much for the feedback and idea. The status bar is already getting kind of crowded on small screens with what we have in there. We're not looking to add this kind of feature at this time. Something like this could be added as a community package though! You may want to suggest something like this on [Discuss, the official Atom message board](https://discuss.atom.io).

Thanks again your

[2016-07-16 04:58] #153 closed

[2016-07-16 09:12] ruppalsingh commented on #143
I do not have SVN installed but still receive this error, after updating from 1.4.0 to 1.8.0.

I have tried disabling all my packages to no avail. Atom sends me here. Any ideas?

[2016-07-16 10:01] 50Wliu commented on #157
@ghermans How did you install Atom?

[2016-07-16 11:03] SUguy commented on #157
I solved this by removing atom (which was downloaded from the official site ) and installing from this
**ppa:webupd8team/atom**
Im running Ubuntu 15.10

[2016-07-16 11:58] ghermans commented on #157
@50Wliu just from the site and then dpkg -i atom*

[2016-07-16 13:02] apopa116 opened #158 "Cannot read property 'onDidChangeStatuses' of undefined"
When opening Atom.

**Atom Version**: 1.8.0
**System**: Linux Mint
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-16 13:54] kn100 commented on #157
Same issue here on Linux Mint Mate - installed official DEB from Atom.io.

[2016-07-16 14:27] danielbayley commented on #137
[git-plus](https://atom.io/packages/git-plus) does this incidentally…

[2016-07-16 14:42] avraamisvi commented on #157
I have installed Atom from the official site, I opened Atom from console pointing to a folder with a git repository, when I removed the .git folder atom worked normally.

[2016-07-16 16:56] dsopscak commented on #157
@lee-dohm I'm having the same problem with the official rpm downloaded from https://atom.io/download/rpm and installed on Fedora 23. It does have a newer version of status-bar than 1.2.3. But if that (1.4.0) is an untested custom version, I guess the question is how did it get into that official package.

[2016-07-16 17:11] apopa116 commented on #158
I've checked and app.asar isn't a directory, but a file.

[2016-07-16 17:24] ad222kr commented on #158
I get the same error on a freshly installed Atom on Ubuntu 16.04. No community packages installed.
This only happens when I try to open a folder that is a git-repository.

[2016-07-16 17:34] lee-dohm commented on #157
@dsopscak That's a good question. I'll look into it.

[2016-07-16 17:35] lee-dohm commented on #158
This is a duplicate of #157. You may want to subscribe there for updates.

[2016-07-16 17:35] #158 closed

[2016-07-16 17:38] kn100 commented on #157
@avraamisvi Can also confirm this issue seems to affect git repos

[2016-07-16 17:52] artofzen commented on #157
Can confirm I am also getting this error on a fresh install of atom 1.8.0 on Ubuntu 16.04 when trying to open a git project folder.

[2016-07-16 18:02] lee-dohm commented on #157
For all receiving this error message, uninstall the version of Atom you're currently using and install the appropriate one from here:

https://github.com/atom/atom/releases/latest

[2016-07-16 18:41] lee-dohm commented on #157
Since this is a symptom of a larger Issue, I'm going to close this again. You will want to subscribe to and follow the workaround instructions in https://github.com/atom/atom/issues/12182.

Thanks everyone reporting the problem!

[2016-07-16 18:41] #157 closed

[2016-07-16 22:32] lowercase24 commented on #143
I did a clean install and I am hitting this issue.  I am on ubuntu 16.04 running atom 1.8.0.

[2016-07-16 22:49] 50Wliu commented on #143
@ruppalsingh @lowercase24 please see atom/atom#12182.

[2016-07-17 12:24] FaisalFehad commented on #157
@SUguy Thank you. Installing it from the repo seems like it has resolved the issue on my Ubuntu MATE 16.04

[2016-07-17 12:54] roccomuso opened #159 "Cannot read property 'onDidChangeStatuses' of undefined"
I'm having this issue trying to open a git project folder...

`
TypeError: Cannot read property 'onDidChangeStatuses' of undefined
    at GitRepository.module.exports.GitRepository.onDidChangeStatuses (/usr/share/atom/resources/app.asar/src/git-repository.js:131:24)
    at status-bar-git.GitView.subscribeToRepositories (/usr/share/atom/resources/app.asar/node_modules/status-bar/lib/git-view.js:106

[2016-07-17 13:16] Lerek commented on #159
The same for me (Ubuntu 16.04)

[2016-07-17 13:36] 50Wliu commented on #159
This is a duplicate of atom/atom#12182 - feel free to subscribe there for updates.

[2016-07-17 13:36] #159 closed

[2016-07-18 13:39] assemusr commented on #157
I have installed Atom from the official site on [OS: RHEL 7.2], I tried opening a file in a folder with a git repository, when I chown -R <parent folder> atom worked normally.

[2016-07-18 19:53] kunokdev commented on #157
Error in Atom lead me here.
I am on fresh Ubuntu 16.06 and I get this error when I try to open a project
`atom projectnme` or even using GUI.

[2016-07-19 03:00] Lujaw commented on #157
just updated Atom and getting the same error

[2016-07-19 07:58] Yajo commented on #143
atom/atom#12182 worked for me

[2016-07-19 13:33] 50Wliu commented on #157
Please see @lee-dohm's comment above for how to resolve this issue: https://github.com/atom/status-bar/issues/157#issuecomment-233144775.  Thanks!

[2016-07-20 01:50] Guard13007 commented on #143
I'm having this issue on a fresh install of Atom, nothing has been added, I've rebooted, it always opens and gives me an error and points here. I'm on Ubuntu 14.04.4

I tried following the instructions in atom/atom#12182 and now I don't get the error message, but I still can't open a project folder.

[2016-07-20 19:29] renan-taranto commented on #143
@Guard13007 If you are new to Atom (as I am) this may help: try pressing **Ctrl+\** to open the Tree View.

[2016-07-20 19:57] CarlosRoque commented on #143
I am having the same issue. clean ubuntu 16.04 install

[2016-07-20 20:11] 50Wliu commented on #143
@CarlosRoque please see atom/atom#12182.

[2016-07-20 20:27] CarlosRoque commented on #143
@50Wliu that fixed it for me. scrolled down to where the downloadable package is and that worked.

[2016-07-21 09:07] Yakoot commented on #143
I've installed the latest version of Atom

**Atom Version**: 1.8.0
**System**: Linux Mint
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package, v1.1.0

### Stack Trace

Failed to activate the git-diff package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-21 13:15] 50Wliu commented on #143
@Yakoot please see atom/atom#12182.

[2016-07-21 13:25] Yakoot commented on #143
@50Wliu 12182 not working for me, will try the beta-version, maybe it solve my  problem, like solves in https://github.com/atom/atom/issues/12182#issuecomment-234216275

[2016-07-21 15:50] davividal commented on #143
Same here, brand new install. Fedora 23.

[2016-07-21 16:02] AshBT commented on #143
I just reverted to the 1.7.4 version.

The problem started on my end when I did a hard - reload (CTRL + ALT + R)

[2016-07-21 16:26] 50Wliu commented on #143
@davividal @AshBT please see atom/atom#12182.

As people do not seem to be reading any of the comments before commenting, I'm locking this issue.

# If you are experiencing this issue, please follow the instructions in [atom/atom#12812](https://github.com/atom/atom/issues/12182).

[2016-07-21 18:30] adi1133 commented on #157
I am getting this error, I just did a fresh install and have v 1.8.0

At Cannot read property 'onDidChangeStatuses' of undefined.
This only happens when I try to open a folder that is also a git repo. I have git installed (I just cloned).

[2016-07-21 19:03] 50Wliu commented on #157
Please see @lee-dohm's comment above for how to resolve this issue: #157 (comment). Thanks!

[2016-07-21 19:28] adi1133 commented on #157
Problem solved, I used [this deb package](https://github.com/atom/atom/releases/download/v1.8.0/atom-amd64.deb)

[2016-07-24 07:28] hoto commented on #157
@adi1133 thanks, installing atom from that deb package also solved my issue

[2016-07-24 16:57] udoyen opened #160 "Failed to activate the status-bar package"
[Enter steps to reproduce below:]

1. create git repo on computer
2. add files and then commit
3. create and add remote repo
4. close and relaunch atom

**Atom Version**: 1.8.0
**System**: Ubuntu 14.04.4
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Config

[code]

###

[2016-07-24 17:14] 50Wliu commented on #160
Please re-download Atom 1.8.0.  Apologies for the inconvenience.

[2016-07-24 17:14] #160 closed

[2016-07-27 11:11] stefan-kern commented on #154
I discovered this is caused by the atom-hg plugin (i've created an issue there aswell https://github.com/victor-torres/atom-hg/issues/23). I'm not sure if status-bar is at fault here, but heres the diagnostic:

**Atom Version**: 1.9.0-beta1
**System**: Ubuntu 16.04.1
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0

### Stack Trace

Uncaught TypeError: Cannot read

[2016-07-31 03:05] flatr0ze commented on #157
Able to reproduce if I create a .git repo locally and not pull one from github that I'd create using the web ui.

[2016-08-01 19:51] rochford77 commented on #154
I also had this issue. It also was happening in nuclide (different error, was still complaining about mercurial).

first of all, I got just reinstalled my os (OS X El Captain) last night and never had this problem before. I downloaded Mercurial from brew, cloned my repos set-up Atom, only to run into this problem. Basically any HG related extension was causing Atom to freak out. Here is how i fixe

[2016-08-01 19:52] rochford77 commented on #160
I also had this issue. It also was happening in nuclide (different error, was still complaining about mercurial).

first of all, I got just reinstalled my os (OS X El Captain) last night and never had this problem before. I downloaded Mercurial from brew, cloned my repos set-up Atom, only to run into this problem. Basically any HG related extension was causing Atom to freak out. Here is how i fixe

[2016-08-01 23:21] rochford77 opened #161 "Uncaught TypeError: Cannot read property 'ahead' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.9.0
**System**: Mac OS X 10.11.6
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0

### Stack Trace

Uncaught TypeError: Cannot read property 'ahead' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-08-02 00:37] 50Wliu commented on #161
Hi @rochford77, what were you doing when this occurred?

[2016-08-02 00:43] mcihon commented on #161
I'm getting the same error.  It occurred after I installed linter-python.  What's happening is the editor appears to be showing the contents of another file, but the settings tab is still selected.  The error re-occurs whenever I switch tabs.

[2016-08-02 00:55] rochford77 commented on #161
nothing, I reset my macbook last night (OS X, made the fun mistake of deleting my boot partition when messing with a trippleboot). this morning I installed a fresh version of OS X Mountain Lion, updated to El Captain, downloaded Atom, downloaded mercurial (from brew), synced my repo, and everything worked great. Then I went through and installed all my old packages and Atom came to a halt. after d

[2016-08-02 01:14] rochford77 commented on #161
Also, it renders atom useless. Cannot open files, save files, switch tabs, open new directories....

[2016-08-02 01:18] 50Wliu commented on #161
Yes, that's correct, Atom 1.9.0.  /cc @maxbrunsfeld, @nathansobo: [this](https://github.com/atom/status-bar/blob/5a41097902c93f267716adbaddd0338bd6b84a59/lib/git-view.coffee#L127) appears to be the relevant line.

[2016-08-02 06:49] steffinger commented on #161
I'm getting the same error since atom was updated to 1.9.0

It occurs when I try to edit XML files.

Additional information:

It seems to be connected to some languages. I don't get it when editing Javascript files, but I do get it when editing XML files. I didn't try other languages so far. Disabling all packages related to XML does not help. Only disabling the status bar package helped so far.

[2016-08-02 07:44] GuillaumeAmat commented on #154
It seems to be related to the [svn package](https://atom.io/packages/svn). I don't have the issue anymore when it's disabled.

[2016-08-02 07:44] GuillaumeAmat commented on #161
It seems to be related to the [svn package](https://atom.io/packages/svn). I don't have the issue anymore when it's disabled.

[2016-08-02 08:19] BraveFJ commented on #161
I still have this issue under 1.9, without the *svn* package.

[2016-08-02 08:21] GuillaumeAmat commented on #161
@BraveFJ I'm running the 1.9 too. Maybe your issue is caused by another package?

[2016-08-02 08:25] jonasws commented on #161
This issue is caused by Atom 1.9 removing `GitRepositoryAsync` as an API, as it was never intended to be public: http://blog.atom.io/2016/08/01/atom-1-9-and-1-10-beta.html. Revert back to Atom 1.8 for the moment to continue using this package.

[2016-08-02 08:30] KoningFJ commented on #161
Thanks @GuillaumeAmat and @jonasws, I'll go back to 1.8 for now.

[2016-08-02 09:39] dropfen commented on #161
How do you guys downgrade to 1.8?

[2016-08-02 10:34] jonasws commented on #161
Either build from source, or download it here: https://github.com/atom/atom/releases/tag/v1.8.0

[2016-08-02 13:16] dropfen commented on #161
thank you :)

Am 02.08.16 um 12:34 schrieb Jonas Strømsodd:

[2016-08-02 13:17] chandramuralis commented on #161
Seems like this time Atom Beta 1.10 is more stable than the actual stable release 1.9.0

[2016-08-02 13:24] mainstreetmark commented on #161
Me too.

[2016-08-02 14:19] rochford77 commented on #161
keep reverting to 1.8 only for it to auto-update back to 1.9. cannot for the life of me find a turn off auto update button.

[2016-08-02 14:54] zyy7259 commented on #161
@rochford77 Go to Atom -> Preferences -> Settings -> Core Settings -> uncheck Automatically update

[2016-08-02 16:49] maxbrunsfeld commented on #161
Can anyone reproduce this error in Safe mode? As [@jonasws said](https://github.com/atom/status-bar/issues/161#issuecomment-236837592), we're aware that a recent change to Atom broke several packages that were using a private API.

[2016-08-02 17:19] rochford77 commented on #161
@maxbrunsfeld I haven't been running safe mode, however i will tell you that I have NOT been able to reproduce this issue at all today with all my packages disabled/uninstalled (all of my packages have been disabled today....dude's gotta work). my git repos seem to work fine, and my hg repos only have issue with hg dependent packages.

[2016-08-02 17:27] jugglingnutcase commented on #146
i'm also seeing this error, sorry i'm not sure how to reproduce this issue. i was editing a file and then hit <kbd>ctrl+,</kbd> to launch the settings view.

**Atom Version**: 1.9.0
**System**: Microsoft Windows 10 Pro
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getLastCursor' of undefined

[code]

##

[2016-08-02 17:31] maxbrunsfeld commented on #161
Thanks for the update @rochford77. I'd like to close this for now, as it was a known result of a change we had to make to fix the crashes mentioned in the blog post. We can reopen this if anyone reproduces this error in Safe mode.

[2016-08-02 17:31] #161 closed

[2016-08-02 19:47] elevow commented on #160
Duplicated on Windows 7 with v1.9

[2016-08-03 01:43] Aetheus commented on #160
Duplicated on Windows 7 with 1.9.1. Much like @rochford77 , the issue I encountered seems to be caused by a package for a VCS (in this case, SVN).

Steps to reproduce:
1. Install svn package (https://atom.io/packages/svn)
2. Launch atom.

Steps to avoid issue:
1. Disable svn package.
2. Relaunch atom.

[2016-08-03 03:35] rochford77 commented on #154
See here https://github.com/atom/status-bar/issues/161

[2016-08-03 13:51] 50Wliu commented on #154
Closing as this issue is caused by the same thing as #161.

[2016-08-03 13:51] #154 closed

[2016-08-03 14:48] Rubytor commented on #160
Excuse me, why is this issue "CLOSED"?? I'm getting the same problem

Just add git repository and the re-launch atom, It stuck with:

Cannot read property 'onDidChangeStatuses' of undefined

If I close atom and change directory to another without git repository, atom open perfectly.

I already tried uninstalling it from package manager, and removing all the folders, including /home/user/.atom

But

[2016-08-03 16:53] rochford77 commented on #160
Rubytor It's closed because it was an intentional break. See the release notes from 1.9.

Earlier this year, we added an experimental async API for interacting with Git repositories based on libgit2 called GitRepositoryAsync. We never officially made this API public, but some package authors started using it anyway based on examples in our bundled packages.
Unfortunately, our bindings to libgit2 w

[2016-08-04 01:56] unclekitty opened #162 "Uncaught TypeError: Cannot read property 'ahead' of null"
TypeError: Cannot read property 'ahead' of null
    at status-bar-git.GitView.updateAheadBehindCount (C:\Users\mi\AppData\Local\atom\app-1.9.2\resources\app.asar\node_modules\status-bar\lib\git-view.js:213:78)
    at status-bar-git.GitView.update (C:\Users\mi\AppData\Local\atom\app-1.9.2\resources\app.asar\node_modules\status-bar\lib\git-view.js:171:12)
    at status-bar-git.GitView.subscribeToAct

[2016-08-04 02:03] 50Wliu commented on #162
#161.

Temporarily disable any hg or svn packages you're using until they're updated.  Sorry for the inconvenience.

[2016-08-04 02:03] #162 closed

[2016-08-05 01:17] akhilpab opened #163 "Error when saving file."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.9.1
**System**: Ubuntu 16.04.1
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-08-05 01:52] 50Wliu commented on #163
You'll need to temporarily disable the `atom-hg` package until a new version is available.

[2016-08-05 01:52] #163 closed

[2016-08-05 16:48] gideondsouza commented on #157
This to me seems specific to if I open a file or folder that is a git repo. (Essentially if that file happens to be part of a git repo at any level) I'm on fedora 24 atom 1.8.0

[2016-08-08 13:22] 50Wliu commented on #146
Fixed by #164.

[2016-08-08 13:22] #146 closed

[2016-08-10 22:07] lynxman commented on #145
[Enter steps to reproduce below:]

1. Open Project folder that uses mercurial
2. Open modified file that has not been commited yet

**Atom Version**: 1.9.8
**System**: Mac OS X 10.11.6
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.1

### Stack Trace

Uncaught TypeError: Cannot read property 'ahead' of null

[code]

### Commands

[code]

### Config

[code]

### Ins

[2016-08-12 15:37] dcholth commented on #160
@rochford77 Specifically the issue is probably with atom-hg.  This appears to be known issue with that package and Atom 1.9.  [https://github.com/victor-torres/atom-hg/issues](url)

[2016-08-13 06:10] westtrade commented on #86
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.9.8
**System**: Ubuntu 14.04
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.1

### Stack Trace

Uncaught NotFoundError: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.

[code]

### Commands

[code]

### Config

[code]

[2016-08-16 08:09] Quilljou commented on #86
The same issue,when I  clicked the panel,the issue happen,the panel seems broken
##  version
Atom 1.98
Ubuntu 16.04
apm  1.10.0
npm  2.13.3
node 0.10.40
python 2.7.12
git 2.7.4

## Stack trace
Error: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.
    at Error (native)
    at status-bar.StatusBarView.addLeftTile (/opt/at

[2016-08-26 18:01] alexchandel opened #165 "[request] Command-clicking the grammar selector should open the package's settings"
Atom has some settings configurable at the grammar-specific level, and almost every language package has settings specific to that language. Changing the settings of the grammar you're currently using requires opening the Settings View, selecting the Packages tab (and waiting for it to load), hunting down the package (hopefully it has an obvious name), and opening *its* settings view.

Instead, co

[2016-08-26 18:52] anweshknayak opened #166 "TypeError: Cannot read property 'onDidChangeStatuses' of undefined at GitRepository.module.exports.GitRepository.onDidChangeStatuses"
**Atom Version**: 1.8.0
**System**: Ubuntu 14.04.5
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0
**User**: root

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-08-26 18:53] anweshknayak commented on #124
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Ubuntu 14.04.5
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0
**User**: root

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-08-26 19:42] 50Wliu commented on #166
The current version of Atom is 1.9.9 - please update to that.

[2016-08-26 19:42] #166 closed

[2016-08-27 06:39] Arcanemagus commented on #124
@anweshknayak Your Atom version is pretty out of date, try updating to the latest stable release and seeing if you still have this issue.

[2016-08-30 10:24] garygreen commented on #36
Check out the [tab control](lexicalunit/tab-control) package which allows you to do everything in this issue. It would be nice if this was in core though, it's in sublime and I'm pretty sure a lot of people would like it too.

[2016-08-31 15:41] njpanderson opened #167 "Branch name not displaying with default project "untitled" document"
Atom version: 1.10.0

When opening a project folder without an active session there's an "untitled" document that Atom presents by default. When showing this document, however, there's no branch name in the status bar.

![screen shot 2016-08-31 at 16 38 35](https://cloud.githubusercontent.com/assets/12379690/18135349/8b692a04-6f99-11e6-867c-37c66e772751.png)

Opening a file or closing the "untitle

[2016-09-05 05:59] thomasjo commented on #167
This is not a bug; a file that has not been persisted does not belong to a Git repository. For a file to belong to a Git repository it needs to be persisted.

The Git information in the status bar is not related to projects beyond the fact a project is tied to a folder, but since a single Atom workspace/window can have multiple projects, it is not possible to associate new files to a Git repositor

[2016-09-05 05:59] #167 closed

[2016-09-05 06:27] njpanderson commented on #167
No problem!

[2016-09-11 14:57] ryanvade opened #168 "Uncaught Error: Cannot read property 'object' of undefinedTypeError: Cannot read property 'objec..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.10.2
**Electron Version**: 1.3.5
**System**: "Arch Linux"
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.1

### Stack Trace

Uncaught Error: Cannot read property 'object' of undefined
TypeError: Cannot read property 'object' of undefined
    at ObjectsRegistry.get (/usr/lib/electron/resources/ele

[2016-09-11 15:15] 50Wliu commented on #168
This is a duplicate of atom/atom#11692 - feel free to subscribe there for updates.

[2016-09-11 15:15] #168 closed

[2016-09-15 08:14] pepri opened #169 "Uncaught Error: Cannot read property 'object' of undefinedTypeError: Cannot read property 'objec..."
[Enter steps to reproduce below:]

1. Click on the filename in the bottom toolbar

**Atom Version**: 1.10.2
**Electron Version**: 1.3.5
**System**: linux 4.7.2-1-ARCH
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.1

### Stack Trace

Uncaught Error: Cannot read property 'object' of undefined
TypeError: Cannot read property 'object' of undefined
    at ObjectsRegist

[2016-09-15 14:23] 50Wliu commented on #169
This is a duplicate of #11692 - feel free to subscribe there for updates.

[2016-09-15 14:23] #169 closed

[2016-09-21 18:32] MageLuingil opened #170 "Column number incorrect when using hard tabs"
The number being displayed for the cursor position is the *character* number, not the *column* number.

**Observed behavior:**

The issue can be easily demonstrated by using hard tabs instead of soft tabs:

Using spaces:
![atom-columns-spaces](https://cloud.githubusercontent.com/assets/6116956/18721827/70e3e758-7fef-11e6-8327-f6f70999faa1.png)

Using tabs:
![atom-columns-tabs-small](https://cloud.

[2016-09-21 19:21] 50Wliu commented on #170
As you said, the current behavior is technically correct, so I think adding a different formatting option would be the best way to proceed here.

/cc @atom/feedback

[2016-09-21 20:14] maxbrunsfeld commented on #170
I'd be ok w/ switching to column number entirely.

[2016-09-22 15:08] Matthew-Bradley commented on #86
Error occurred for me today during an update.

File:
C:\Users\m\AppData\Local\atom\app-1.10.2\resources\app.asar\node_modules\status-bar\lib\status-bar-view.js:72

Stack trace:
Error: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.
    at Error (native)
    at status-bar.StatusBarView.addLeftTile (C:\Users\m\AppData\Loca

[2016-09-26 19:54] SteveAquino commented on #170
Personally I was surprised to find this behavior as I think most people care about column position, not number of characters.  For example, this actually causes an erroneous error when using the https://atom.io/packages/fast-eslint plugin since it's (supposedly) based off the column number atom presents, which means that developer is probably not aware of this behavior either.

[2016-09-26 19:56] SteveAquino commented on #170
Sorry, they're actually not erroneous errors the line is longer than the max length, but the inconsistent column number makes it difficult to reduce the number of characters to the correct limit.

[2016-10-01 19:56] vtambourine commented on #116
Is this issue still relevant? I think it can be closed since path merged quite time ago.
Not reproducing on `atom-1.10.2` + OS X 10.11.6.

[2016-10-01 20:18] 50Wliu commented on #116
Thanks @vtambourine.

[2016-10-01 20:18] #116 closed

[2016-10-01 20:24] pixelchutes commented on #116
Thank you, have been meaning to close this when I realized recently it was fixed. Appreciate it!

[2016-10-05 13:16] tinyhippw opened #172 "Failed to activate the status-bar package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.10.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.11.6
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.1

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-10-05 15:03] 50Wliu commented on #172
Please update the svn package to the latest version.

[2016-10-05 15:03] #172 closed

[2016-10-12 08:36] jibsen commented on #170
I sometimes use the column number in the status bar to wrap comments in source files. I just noticed some of the lines are too long because of this.

[2016-10-14 07:03] CostGranda opened #174 "Git branch and status are not displayed"
The current git branch and status are not displayed in the status bar.

**Reproduction Steps:**

1. Clean atom and git installation.
2. Git client installation and repo cloned.
3. Test in safe mode.
4. Uninstall git, atom and deleted `.atom` and `C:\Users\octocat\AppData\Local\atom` folders.
5. Back to step one.

**Screenshots and GIFs**

![image](https://cloud.githubusercontent.com/assets/5617032

[2016-10-14 16:25] damieng commented on #174
Trying to repro this but not able to yet.

![image](https://cloud.githubusercontent.com/assets/118951/19394919/0369df08-91f0-11e6-878b-13f579034269.png)

Windows 10, Atom 1.11.1 with status-bar 1.6.0. Correctly showing in both normal and safe mode here. Must be another factor involved.

[2016-10-14 17:13] damieng commented on #174
It appears your .git folder is in the properties folder? Atom only treats the top-level containing folder as a git repo so you'd need to open Properties.

[2016-10-14 17:24] CostGranda commented on #174
This is the directory scheme
![image](https://cloud.githubusercontent.com/assets/5617032/19396473/e5b0f9ce-9208-11e6-96ee-d035431bd9e1.png)
PapeleriaTPA is a netbeans project inside the git repo.

[2016-10-14 17:29] CostGranda commented on #174
@damieng I have installed the [1.10.0](https://github.com/atom/atom/releases/tag/v1.10.0) version and now it works, don't know what happened

[2016-10-14 17:49] damieng commented on #174
In the screenshot it shows you opened the GitHub folder not the paperleria folder.

Atom will only switch on the git integration when opening the folder that directly contains the .git subfolder. i.e. opening paperleria should work, opening GitHub or Scripts would not.

[2016-10-14 18:16] CostGranda commented on #174
Thank you so much @damieng, I feel so stupid for that, I have never noticed that. Case closed.

[2016-10-14 18:16] #174 closed

[2016-10-15 19:50] ilak2k opened #175 "Failed to activate the status-bar package"
[Enter steps to reproduce below:]

1. Open "Atom"
![screenshot from 2016-10-16 00-58-38](https://cloud.githubusercontent.com/assets/18623222/19412951/729ffd04-933e-11e6-8dd3-c645002e1128.png)

**Atom Version**: 1.11.1
**Electron Version**: 0.37.8
**System**: Ubuntu 16.04.1
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.1

### Stack Trace

Failed to activate the sta

[2016-10-15 20:24] damieng commented on #175
Looks like an error in the particles-dev package from the stack trace

On Sat, Oct 15, 2016, 12:50 PM ilak2k <notifications@github.com> wrote:

[2016-10-17 07:42] ilak2k commented on #175
Can this be solved?

[2016-10-17 20:42] damieng commented on #175
You'd have to contact the author of that package. It looks like their repo and issues are at https://github.com/spark/particle-dev

[2016-10-17 20:42] #175 closed

[2016-10-18 11:19] a7madgamal commented on #175
I got the same error once after update restart and I don't have the particle-dev package
mac atom v 1.11.2

[code]

[2016-10-27 09:42] JeremJR opened #176 "Failed to activate the status-bar package"
1. Open Atom

![status-bar_failure](https://cloud.githubusercontent.com/assets/1147953/19762434/36579d02-9c3a-11e6-8a78-cf0f8c0504b1.png)

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Ubuntu 14.04.5
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.1

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Con

[2016-10-27 10:35] Ben3eeE commented on #176
This is a duplicate of https://github.com/atom/line-ending-selector/issues/32. Feel free to subscribe there for updates.

[2016-10-27 10:35] #176 closed

[2016-10-31 06:31] #125 closed

[2016-11-03 00:33] mikeerickson commented on #109
@50Wliu I dont have jsHint installed either and am receiving the error.

[2016-11-03 00:43] 50Wliu commented on #109
@mikeerickson Please open a new issue and paste in the Notifications error.  Thanks!

[2016-12-13 17:41] GreenLondon opened #179 "Cannot find module 'jquery"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.12.7
**Electron Version**: 1.3.13
**System**: Microsoft Windows 10 Pro
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.1

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-12-13 18:04] 50Wliu commented on #179
This is an issue with the atom-clock package.  Please report this there.  Thanks!

[2016-12-13 18:04] #179 closed

[2016-12-14 17:35] mz103 opened #180 "Add project name to .current-path"
A lot of us have a lot of projects that have a similar structure (i.e. atom packages), with similarly named files (i.e. `package.json`), and it'd be really nice if the project name was included at the bottom of the status bar in the `.current-path` selector's textContent.

For example, right now it's: `package.json`

I'm suggesting: `status-bar/package.json` which would make a lot more sense, and

[2016-12-21 07:21] mika76 opened #181 "Size grip on the main window"
I think a sizing grip on the status bar would be great. I'm not sure where this great usability feature has disappeared lately with apps, but it's so much easier to grip a block then a corner...

Atom version: 1.12.7

[2016-12-21 09:51] thomasjo commented on #181
Thanks for the suggestion!

First of all, this cannot really be resolved via status-bar (which can also be disabled, thus rendering this functionality void). Second of all, the "grip" has been removed from most apps (and OS-level UI guidelines) since it's a false affordance to some extent. Application windows can be resized from any edge, not only the traditional lower right corner. Having a grip

[2016-12-21 09:51] #181 closed

[2016-12-21 09:53] mika76 commented on #181
Thanks @thomasjo. Is this possible to do as an addin? If so could you point me in the direction of where I could get started doing one?

[2016-12-21 10:07] thomasjo commented on #181
Since this is not something that is implemented in Electron (as far as I know), you'll likely have to interact directly with the OS-level window handle via [`BrowserWindow.getNativeWindowHandle()`](http://electron.atom.io/docs/api/browser-window/#wingetnativewindowhandle). That means you need to handle support for Windows, macOS and Linux (which likely means multiple window managers) yourself. It

[2016-12-24 00:05] lee-dohm commented on #180
Thanks for taking the time to contribute!

I have passed along the information to the maintainers team for review after the holidays. Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close feedback issues after passing along the information to the maintainers to keep our backlog clean and focused.

We do i

[2016-12-24 00:05] #180 closed

[2017-01-23 13:44] icearith commented on #83
![screen shot 2017-01-23 at 13 44 11](https://cloud.githubusercontent.com/assets/2555093/22206174/15c4c826-e172-11e6-99da-2811f44e99c3.png)

I still got this issue

[2017-01-24 19:23] lee-dohm commented on #83
@icearith Slow activation time is a symptom of an underlying problem. Once we have a better idea of what is causing the problem you're experiencing, then we can open an Issue on the correct repository. For general support questions like this, please post on [Discuss, the official Atom message board](https://discuss.atom.io) and I, or someone else from the community, will help you narrow down the r

[2017-02-15 02:04] petey opened #184 "Uncaught TypeError: Path must be a string. Received ~"
[Enter steps to reproduce:]

1. switch between open tabs
2.

**Atom**: 1.14.2 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.3
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.7.0

### Stack Trace

Uncaught TypeError: Path must be a string. Received undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-02-15 02:07] petey commented on #184
See also: https://github.com/atom/exception-reporting/issues/31

[2017-02-15 17:50] damieng commented on #184
What is the name of the file you are editing when this happens?  Atom is trying to display a relative version of the file path but at the final point it believes it doesn't have a path...

[2017-02-24 16:05] MikeMcElroy commented on #184
I get this error when trying to edit any file, but here's an example:
`/Users/mikemac/Projects/blah-blah/app/utils/ActionUtils.js`
(my project is not actually `blah-blah`, but it does contain a hyphen, if that matters)

My search functionality is also completely shot.  It finds *nothing*.

**Atom**: 1.14.3 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.2
**Thrown From**: [exception-reporting](htt

[2017-03-04 10:48] Zarnaik commented on #86
[Enter steps to reproduce:]

1. Install the highlight-selected package.
2. Error on activation with Show in Status Bar setting enabled / toggling the Show in Status Bar setting

**Atom**: 1.14.4 x64
**Electron**: 1.3.13
**OS**: Ubuntu 14.04.5
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.7.0

### Stack Trace

Uncaught NotFoundError: Failed to execute 'insertBefore' on

[2017-03-13 03:27] CodingAnarchy commented on #184
Is there any progress on fixing this?  It's made Atom virtually unusable for me.

[2017-03-13 15:37] #184 closed

[2017-03-13 15:38] damieng commented on #184
We've never been able to repro this but I have increased the error handling based on the stack trace.  I just merged it into master and might be able to get it into the next beta hotfix.

[2017-03-14 21:49] gitjeff05 commented on #120
I'd like to add these tests. Can anyone provide any guidance on how to setup/modify the git repos in the ``spec/fixtures`` folder?

I can create a file and remove text without a problem. But I need a file that already exists in the repo with 2+ lines to remove. There is a ``fixtures/git/ahead-behind-repo.git``, a ``fixtures/git/no-ahead-behind-repo.git``, a ``fixtures/git/master.git`` and a ``work

[2017-03-14 22:20] 50Wliu commented on #120
/cc @as-cii I noticed that you added a fixture to this repo before, maybe you can point @gitjeff05 along the right path?

[2017-03-22 17:59] mariagwyn commented on #184
I have been having this problem with increasing frequency, and Atom is becoming unusable. I can't save (via the keyboard), I can't click closed, I can't switch to new documents.

![atomhell](https://cloud.githubusercontent.com/assets/169165/24213098/96c1d0dc-0eee-11e7-8722-38844c753406.png)

[2017-03-22 19:04] damieng commented on #184
Can you try the latest version of status-bar to let us know if this avoids the problem?

You'll need to type the following commands into a command prompt/terminal window;

[code]

This will start atom in developer mode which will load `apm dev` packages. Let me know if you are still able to repro the issue there or if it goes away.

Thanks!

[2017-03-22 19:30] kremalicious commented on #184
I [had this problem too](https://github.com/atom/exception-reporting/issues/31#issuecomment-279985386) throughout the Atom 1.15.x x64 stable releases on macOS 10.12.3. Disabled status-bar package to get through that.

But I wasn't able to reproduce this bug since running Atom 1.16.0-beta0 x64 on macOS 10.12.3, which has status-bar v1.8.3 included. So seems one of the newer status-bar releases make

[2017-03-22 19:53] damieng commented on #184
Hmm, that is strange. My workaround is in 1.8.5 which isn't in 1.16 either. But it was just that - a workaround as I cound't find a path that would have gotten an undefined to that point in the code.  If it was fixed sometime between 1.8.1 and 1.8.3 that might explain why.

[2017-03-24 13:23] dwelle opened #186 "allow to prefer UNIX style paths for click-to-copy-path on windows"
We should be allowed to specify (via package option) to prefer unix-style path separators (`/` instead of `\`) when copying file path to clipboard on Windows.

Would save a lot of developer time.

Related https://github.com/atom/tree-view/issues/591

Not sure why the issue above couldn't be resolved with a user option, as well.

[2017-03-29 15:30] mariagwyn commented on #184
So the problem appears inconsistently, so I cannot say with confidence that running ```atom -d``` works ALL the time, but it certainly appears to do so. In one case, I opened a directory without ```-d``` and the error appeared almost immediately. Reopening with ```-d``` made it all pretty and functional again.

[2017-03-29 18:02] aneilbaboo commented on #184
I've been having this problem with 1.15.0 for maybe 2 weeks (very rough estimate), and @damieng's [fix](https://github.com/atom/status-bar/issues/184#issuecomment-288506131 ) worked for me.

[2017-04-04 08:34] himasme commented on #86
styles\style.scss6:14Not compiled
CRLF2 deprecationsUTF-8SCSS
Uncaught NotFoundError: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.
C:\Users\User\AppData\Local\atom\app-1.15.0\resources\app.asar\node_modules\status-bar\lib\status-bar-view.js:67
Hide Stack Trace
Error: Failed to execute 'insertBefore' on 'Node': The nod

[2017-04-05 14:14] iMagdy opened #187 "Can not find module `atom-space-pen-views`"
![image](https://cloud.githubusercontent.com/assets/611426/24709665/f3150386-1a1a-11e7-8363-dee1d0d46a39.png)

[Enter steps to reproduce:]

1. Open Atom

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.4
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.1

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Non-

[2017-04-05 14:37] 50Wliu commented on #187
Please report this to the [terminal-fusion](https://atom.io/packages/terminal-fusion) package instead.

[2017-04-05 14:37] #187 closed

[2017-04-05 17:06] iMagdy commented on #187
Thanks @50Wliu

[2017-04-09 08:21] Eastegg opened #188 "Uncaught TypeError: Cannot read property 'priority' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Unknown Windows version
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.1

### Stack Trace

Uncaught TypeError: Cannot read property 'priority' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-04-10 06:27] rsese commented on #188
Thanks for contributing!

It appears that this is being caused by the [jshint package](https://atom.io/packages/jshint) package, not Atom itself. It may be that there is still a bug in Atom. If so, we'll need the maintainer of the package that is causing the problem to help track that down. You should file this issue on their repository so they can either fix the problem or tell us where the probl

[2017-04-10 06:27] #188 closed

[2017-04-14 13:00] zhuangyin8 opened #190 "Uncaught TypeError: Cannot read property 'priority' of undefined"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-04-14 13:02] zhuangyin8 commented on #190
The error was thrown from the status-bar package. This issue has already been reported.

[2017-04-14 13:02] zhuangyin8 commented on #190
Project
stylin3_code_files
All Site Source
CSS3 加载中@
JavaScript Traffic Light
Sublime Text The text editor you'll fall in love with
That's what I have always wished. -liguanjian坦克大战(BattleCity)@
Yandex
Yandex@
开 奖
www.treejs.cn
tmp
colorBall4
audio
button.ogg
cheer.ogg
lottery.ogg
selectBall.ogg
img
background.jpg
boxBack.png
boxDark.png
boxFront.png
button_bg.png
js
ball.js
jquery.js
ball.css
bal

[2017-04-18 12:50] obliviga opened #191 "status-bar is deprecated."
You have the core package "status-bar" installed as a community package. See https://github.com/atom/dalek for how this causes problems and instructions on how to correct the situation.
[code]

[2017-04-18 13:29] damieng commented on #191
This is not a bug but a user error.  Please use `apm remove` to remove your user-installed version of status-bar which will then use the bundled version.

[2017-04-18 13:29] #191 closed

[2017-05-02 20:33] johnyf commented on #21
There is also the https://atom.io/packages/wordcount package. It displays a count of both the number of characters and words in the selected text, or of the entire file, if no text is selected.

[2017-05-13 06:13] objectkit commented on #128
Apologies for commenting on a closed thread, but it is a frustrating issue. Please redirect me as necessary. Working from terminal within Atom, if I switch branch, rename branch, commit... I have to bring an another app into focus, then bring Atom back into focus in order for the current branch to update in tree-view and in status bar.... I would have expected this to have been automatic behaviour

[2017-05-25 19:06] brendanfalkowski opened #194 "Status bar is blank until file is "open" (annoying)"
### Prerequisites

* [ x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for c

[2017-05-25 22:11] rsese commented on #194
I had 1.16 installed on another machine and can confirm that the status bar was populated with pending pane items but the behavior is as described above in 1.17.1 and 1.18.0-beta0.

[2017-05-26 08:26] thomasjo commented on #194
This is caused by a regression in Atom core; upon opening a (pending) text editor pane, the pane is not marked as active, which means that `atom.workspace.getActiveTextEditor()` returns `undefined`. Simply clicking anywhere in the editor triggers the activation, and the expected object is returned.

[2017-05-31 19:59] Pysis868 commented on #184
Still having this issue on a Mac 10.12.3 with Atom 1.17.2 and status-bar 1.8.7.

Do I still need the dev package upgrade [mentioned by damieng on Mar 22](https://github.com/atom/status-bar/issues/184#issuecomment-288506131)?

[2017-05-31 20:26] damieng commented on #184
You should apm unlink that package now.  Not sure why you're still having the issue though. Can you post the stack trace?

[2017-05-31 20:40] Pysis868 commented on #184
I didn't perform any specific actions to that package.  Should I bother unlinking it?  Also, it is not linked in the `packages` folder:

    ⋊> ~ ls "$HOME/.atom/packages/"*status-bar*
    No matches for wildcard '"$HOME/.atom/packages/"*status-bar*'.  (Tip: empty matches are allowed in 'set', 'count', 'for'.)
    fish: ls "$HOME/.atom/packages/"*status-bar*
             ^

## Error Report
1. Re-e

[2017-05-31 21:14] damieng commented on #184
Sorry I thought you already had performed the steps. They should no longer be necessary but it seems the problem still exists.

Could you open a debug window in your atom (View > Developer > Toggle Developer Tools) and type this in the console window and then paste the results back here;

[code]

[2017-06-01 13:26] Pysis868 commented on #184
`Cmd+Alt+i` still works. ;P

[code]

Not much there =/
But there **\*is\*** this:
[code]

[2017-06-01 15:02] damieng commented on #184
The fact it is undefined is important.  Can you open a Terminal window and type;

[code]

And let me know if it outputs anything.

[2017-06-01 15:14] Pysis868 commented on #184
[code]

By the way, I also just tried:
 1. Disabled the now deprecated `atom-community`/`environment` package.
 2. Restarted Atom.
 3. Re-enabled the `status-bar` package.

and still received the error.

[2017-06-01 15:35] damieng commented on #184
So you have a HOME system environment variable but it's being wiped out at some point in the Atom environment.

Can you try atom in safe mode?  `atom --safe` and see if process.env.HOME is set?

[2017-06-01 15:39] Pysis868 commented on #184
[code]
[code]

Any advice for efficiently checking which package is doing this?
Would the method be as simple as disabling all, enabled `status-bar`, and enabling others incrementally until I find the variable is overwritten?  Do I need to restart Atom each time?

[2017-06-01 16:44] damieng commented on #184
There are a couple of other ones in your list with 'env' in the name that might be interfering.  Disabling and re-enabling is the only real way although you can do it by disabling half and testing. If it doesn't solve the problem disable half the others, if it does then enable half the ones you disabled. Technically this would be overall quicker than doing them one at a time. (binary search)

[2017-06-01 16:57] e1senh0rn commented on #184
I have similar issue.
If I run Atom from Finder `process.env.HOME` is `undefined`. I believe that Finder sets clean environment (it has only ATOM_HOME, NODE_ENV, NODE_PATH).

Launching Atom from terminal keeps the proper environment.

[2017-06-01 16:59] damieng commented on #184
I have a fix over in https://github.com/atom/fs-plus/pull/42 that will avoid this scenario and error.

[2017-06-05 14:47] jasonrudolph commented on #194
I think we're close to resolving this issue.

- https://github.com/atom/atom/pull/14695 will provide an API for observing the active text editor
- The following PRs will take advantage of that new API where applicable to populate the status bar with info for pending tabs as you click on files in the tree view:
  - https://github.com/atom/status-bar/pull/195 displays file name, git branch, etc.
  -

[2017-06-13 11:58] mehcode opened #196 "[Suggestion] Switch from underline to highlight for hover style of status bar panels"
**Current**
![screen shot 2017-06-13 at 4 54 30 am](https://user-images.githubusercontent.com/753919/27081266-6848b1ca-4ff4-11e7-85ec-1df441de8bd9.png)

**Proposed**
![screen shot 2017-06-13 at 4 54 12 am](https://user-images.githubusercontent.com/753919/27081265-6841b474-4ff4-11e7-9078-a5a97874ad49.png)

---

The motivating factor is primarily that underline is currently the predominating "this i

[2017-06-14 01:17] simurai commented on #196
👍  On the suggestion. Maybe could be like this:

- Use the background hover style as **default**.
- Introduce a `is-external-link` or similar class. This would show the current underline, but should **only** be used if it links to an external browser. I think none of the current bundled Atom packages do that.

[2017-06-16 05:39] mehcode opened #197 "[Suggsetion] Move `line:column` and `(line:column)` to the right side of the status bar instead of the left."
_Most_ of the panels on the right of the status bar are scoped to the file (line ending, encoding, syntax)

![screen shot 2017-06-15 at 10 36 58 pm](https://user-images.githubusercontent.com/753919/27213354-2964c11e-521b-11e7-988d-d8e6f851c5f4.png)

Also I'd like to take more advantage of the premium left space for packages like:
 - https://github.com/steelbrain/busy-signal
 - https://github.com/w

[2017-06-22 11:05] UmkaDK opened #198 "Invalid position of the "docker handle" and "error panel" when [status-bar > Full-width] is set to OFF"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: *Safe Mode disables docker panels, thus this issue does not appear in it.
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for common

[2017-06-29 08:30] simurai commented on #196
Tried to change it in this package, but it's a bit a "wild west" because every package adds their own element and class names and there isn't a convention/API.

![image](https://user-images.githubusercontent.com/378023/27678212-60c505ae-5cef-11e7-82d6-75d3f2c21ffc.png)

Also, lots of themes add their own styling. So changing it in this package would break some themes. For now I'll change it for th

[2017-06-30 08:07] #196 closed

[2017-06-30 18:37] udayms opened #199 "Uncaught TypeError: Cannot read property 'isVisible' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.6
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.11

### Stack Trace

Uncaught TypeError: Cannot read property 'isVisible' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-06-30 20:37] rsese commented on #199
Thanks for the report!  Can you confirm a few things for us?

* what were you doing at the time of the error?
* is the error is reproducible?
* if reproducible, do you see the error in safe mode (atom --safe)?

[2017-07-08 14:59] Mottie opened #200 "Persistent package update notification"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-07-09 23:46] 50Wliu commented on #200
Ah, thanks, looks like I didn't cover this case when implementing the status bar tile.  Can you please reopen this on the [atom/settings-view](https://github.com/atom/settings-view) repository, which is where this logic is located?

[2017-07-09 23:46] #200 closed

[2017-07-14 21:02] astorije commented on #137
I believe that this is now possible by default in a more recent version of Atom (at least, I can in 1.18.0):

<img width="391" alt="screen shot 2017-07-14 at 17 01 42" src="https://user-images.githubusercontent.com/113730/28230715-328d815c-68b6-11e7-9780-1d5837274639.png">

[2017-07-14 21:07] danielbayley commented on #137
Yeah this [and more] is in https://github.com/atom/github now… so should probably be closed.

[2017-07-14 23:06] 50Wliu commented on #137
Yep, this is now part of the github package.

[2017-07-14 23:06] #137 closed

[2017-07-27 04:55] jgaibor commented on #137
Hello, in the last version, I can't switch to the others branches.

[2017-07-27 07:43] z2383817604 opened #201 "1111"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-07-27 07:44] z2383817604 opened #202 "1111"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-07-27 14:55] #202 closed

[2017-07-27 14:55] #201 closed

[2017-07-31 11:31] zinkkrysty commented on #104
How can we make this more easily discoverable? I was about to file a similar issue as this one as I couldn't figure out the shift+click shortcut.

An idea could be is to have this text inside the tooltip "Click to copy absolute file path (Shift + Click for relative path)"

[2017-07-31 11:50] zinkkrysty opened #203 "Click to copy path - should be easier to discover shift+click"
When I use the click to copy file path function in Atom, I did not know there was an option to Shift+Click to get the relative path (I only learned that by searching for how to copy relative path and ultimately lead to #104). I should have discovered this from the UI.

Example solution: when the tooltip is shown, it could show this text inside the tooltip "Click to copy absolute file path (Shift +

[2017-08-01 17:42] lee-dohm commented on #137
@jgaibor If you're having a problem with the [github package](https://github.com/atom/github), please file a new issue there and completely fill in the template.

[2017-08-01 22:16] ron-wolf commented on #86
I’m not sure exactly how this happened; I just switched from editor window to editor window and enabled/disabled some packages that appear in the Status Bar, and when I came back to my original window all the tabs were gone and this error showed up. I hope the stack trace helps in some way!

**Atom**: 1.18.0-beta2 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.6
**Thrown From**: [status-bar](http

[2017-08-21 09:58] Parallelgh opened #206 "Status-bar"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-08-21 10:13] Ben3eeE commented on #206
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grin

[2017-08-21 10:13] #206 closed

[2017-08-21 17:26] ericwmartin commented on #105
I'm having a similar issue, but my entire status bar at the bottom is missing. It's not showing branch, language, encoding, or anything. I can't seem to find this setting anywhere. How do I get the status bar back?

[http://imgur.com/a/QhKpG](url)

[2017-08-27 19:00] wdanilo opened #207 "Arrange items in status bar"
Hi! Currenlty it is impossible for either user or anybody who builds something on atom (like we do) to arrange icons on the status bar. This implies a lot of pains:
  1. If there is a package like `platform-io-terminal` which registers itself on the very left side, the only way to move it on the right is to monkey patch it
  2. If I click inside Settings View and then inside text editor, the items

[2017-08-31 15:18] vivekj108 opened #208 "Uncaught Error: Couldn't convert text to a String"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.19.4 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.12.6
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.11

### Stack Trace

Uncaught Error: Couldn't convert text to a String

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-08-31 21:57] rsese commented on #208
Thanks for taking the time to contribute!

Though the stack trace isn't exactly the same, I think this may be a duplicate of https://github.com/atom/atom/issues/15325. You may want to subscribe there for updates - if you have steps to reproduce or any other information about the error, feel free to let us know in the issue.

Because we treat our issues list as [the Atom team's backlog](https://en.

[2017-08-31 21:57] #208 closed

[2017-09-07 03:53] #203 closed

[2017-09-09 23:00] vikasv opened #210 "Uncaught Error: Cannot decorate a destroyed marker"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.19.7 ia32
**Electron**: 1.6.9
**OS**: Microsoft Windows 10 Home
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.11

### Stack Trace

Uncaught Error: Cannot decorate a destroyed marker

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-09-12 01:20] rsese commented on #210
Thanks for the report!  Can you confirm a few things for us?

* what were you doing at the time of the error?
* is the error is reproducible?
* if reproducible, do you see the error in safe mode (atom --safe)?

[2017-09-15 21:17] juanfernandoe commented on #176
+1

[2017-09-26 07:51] rgawenda commented on #207
Yes, it seems that move-status-items isn't actively maintained, but I'm using it on 1.21beta without tinkering.

I would love to see it integrated as an integrated configurable feature of status-bar.

[2017-10-13 21:39] matthewwithanm opened #212 "Remove icon offset?"
Currently, the status bar [is shifting all icons placed in it a pixel down][1]. This seems a little overbroad because of how broad the selector is (it applies to all descendants). Should it be removed?

[1]: https://github.com/atom/status-bar/blob/7f7a74ac966552ade9432031c80fc3bafe557222/styles/status-bar.less#L81-L82

[2017-10-13 21:44] Ben3eeE commented on #212
/cc: @simurai

[2017-11-05 15:23] KapilMetacube commented on #174
Hello, is the git status that shows the line diff like **`+3,-2`** deprecated by the package.
Because I do not see it anymore.
Atom version: 1.21.1

However, I have noticed it from much earlier versions but never reported and now I kind of missing it.

[2017-11-06 09:47] #82 closed

[2017-11-07 00:52] rsese commented on #174
See https://github.com/atom/github/issues/1035 for more details about that @KapilMetacube.

[2017-11-07 04:11] KapilMetacube commented on #174
Thanks, @rsese.

[2017-11-08 00:31] timfallmk opened #216 "target[Symbol.iterator] is not a function"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-11-08 20:16] timfallmk commented on #216
As a further note, the dialogue appears to incorrect link to #176

[2017-11-08 20:40] 50Wliu commented on #216
Closing in favor of atom/atom#16135.  Thanks for creating the issue!

[2017-11-08 20:40] #216 closed

[2017-11-11 07:36] RustemB commented on #176
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.23.0-beta0 x64
**Electron**: 1.6.15
**OS**: Unknown Windows version
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.14

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-11-17 03:28] KXPN commented on #170
Just here to say this should be fixed, column count is an important way to keep things organized. Character count is an unexpected behavior

[2017-12-01 04:41] LKC314 opened #217 "Failed to activate the status-bar package"
1. Open Atom.

**Atom**: 1.21.2 ia32
**Electron**: 1.6.15
**OS**: Windows 8 32-bit
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.13

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-12-01 22:51] rsese commented on #217
Based on the stack trace, I think this is related to one of your LaTex packages, [Atom-LaTeX](https://github.com/James-Yu/Atom-LaTeX) I think.

It may be that there is still a bug in Atom. If so, we'll need the maintainer of the package that is causing the problem to help track that down. You should file this issue on their repository so they can either fix the problem or tell us where the problem

[2017-12-01 22:51] #217 closed

[2017-12-07 08:28] simurai commented on #212
Hmm.. In the One themes it gets [overridden](https://github.com/atom/one-dark-ui/blob/f4f9fa94841fc9fa5554201f146c8523f2b6cb7a/styles/status-bar.less#L55). But it would affect some themes. Like `atom-dark-ui`:

![status-bar](https://user-images.githubusercontent.com/378023/33705508-f1362af2-db73-11e7-9c44-0684d0af666f.gif)

@matthewwithanm did you run into an issue where icons got nested?

[2017-12-07 18:58] matthewwithanm commented on #212
Oh, I bet this is a precedence issue because I'm running status-bar from source (dev) and not the theme. 🤔

[2017-12-08 10:24] icetee commented on #86
I got that error message when I did develop my plugin and `addLeftTile` / `addRightTile` options item property equal `null`.

[2017-12-21 19:39] rsese commented on #199
Thanks again for your issue!

Came across this one while looking at https://github.com/atom/atom/issues/16419 - we haven't received a response to our question in this comment https://github.com/atom/status-bar/issues/199#issuecomment-312367399. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to re

[2017-12-21 19:39] #199 closed

[2018-01-05 19:58] matthewwithanm commented on #212
I guess I'll close this…the precedence issue makes it hard for development but it's not a general issue. Thanks @simurai (:

[2018-01-05 19:58] #212 closed

[2018-01-12 10:55] patriciussanctus opened #219 "panel with arrows and buttons (fetch, pull, push) disappeared on git-submodule path"
### Description
panel with arrows and buttons (fetch, pull, push) disappeared into git-submodule project.
only in git-submodule project not working, in base project working!
hotkeys of git-plus working, i can fetch, pull and push in git-submodule project.
how i can test and check workable, or enable, or debug this?

### Steps to Reproduce
after update or other manipulations, i know not =(

![atom-

[2018-01-12 17:14] 50Wliu commented on #219
Please report this to the [github](https://github.com/atom/github) package instead, which controls when the push/pull status bar icons are shown.  Thanks!

[2018-01-12 17:14] #219 closed

[2018-03-05 15:47] wolfieman opened #220 "Failed to activate the ide-python package"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-03-05 15:56] damieng commented on #220
This would appear to be an issue with the AtomClockView package - I would recommend raising it there.

[2018-03-05 15:56] #220 closed

[2018-03-06 00:35] ProLoser opened #221 "Feature Request: Move status bar to Apple TouchBar"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-03-06 00:49] damieng commented on #221
We have decided to leave that up to individual package authors to support hardware-specific features such as this - we covered it here https://github.com/atom/atom/issues/15206

[2018-03-06 00:49] #221 closed

[2018-03-13 08:02] mb21 commented on #24
The following works in `keymap.cson` now:

    'body':
      'f6': 'status-bar:toggle'

[2018-03-23 16:14] Zakini commented on #207
+1 for this. My status bar is gradually getting more cluttered. I'd like to stay on top of it!

[2018-05-31 21:42] undergroundquizscene commented on #170
I’m gonna look at taking this on :) The consensus seems to be that the current "column number" value should be changed from reporting the *character* position of the cursor to reporting the *column* position – is this correct?

[2018-05-31 21:44] KXPN commented on #170
That's right. Thanks for looking into it, I may be trying Atom again as soon as this is fixed :)

[2018-05-31 21:58] undergroundquizscene commented on #170
No problem! I’ve been wanting to contribute to atom for a while, and this is something that matters to me and seems pretty straightforward.

[2018-06-01 16:08] Arcanemagus commented on #170
Note that since tabs have no set column width you'll need to respect the user's setting for how many columns they are worth. You wouldn't believe the number of bugs I've seen in linters (not Atom `linter-*` providers, the linters themselves) due to the authors making the mistake of thinking that tabs are anything more than a single character.

[2018-06-01 17:08] undergroundquizscene commented on #170
Yes, of course :)

[2018-06-11 08:02] chunjie-sam-liu opened #223 "<unknown> is deprecated."
I use the status-bar package in my atom, but it shows the following issue.

'You have the core package **status-bar** installed as a community package. See https://github.com/atom/dalek for how this causes problems and instructions on how to correct the situation.'
[code]

[2018-06-11 17:14] rsese commented on #223
Thank you for the report!

The README linked in the report gives you instructions on the steps you need to take to get rid off this deprecation https://github.com/atom/dalek#i-got-a-warning-what-do-i-do

[2018-06-11 17:14] #223 closed

[2018-06-14 07:55] aadrian commented on #217
1. Open Atom
This error still happens, and this is the plug-in that breaks, since Atom is reporting to this one :) .

**Atom**: 1.27.2 x64
**Electron**: 1.7.15
**OS**: Microsoft Windows 8.1 Pro
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.15

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-06-15 21:36] andrei-elizaga commented on #217
1. Open atom from the terminal.

**Atom**: 1.27.2 x64
**Electron**: 1.7.15
**OS**: Mac OS X 10.13.4
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.15

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-06-18 20:52] annthurium opened #224 "Push/pull only works when pressing the text itself, not the status bar tile"
@50Wliu filed this issue originally in the `atom/github` repo: https://github.com/atom/github/issues/1530

 but the problem lies here.

### Prerequisites

* Have you tried to reproduce the problem in [Safe Mode][safe-mode]?
* Have you followed all applicable steps in the [debugging guide][debugging-guide]?
* Have you checked the FAQs on the [message board][message-board] for common solutions?
* Ha

[2018-06-18 21:14] annthurium opened #225 "Push/pull tooltip shows up much quicker than other status bar tooltips"
@50Wliu originally filed this in https://github.com/atom/github/issues/1531 but the problem lies here.

### Prerequisites

* Have you tried to reproduce the problem in [Safe Mode][safe-mode]?
* Have you followed all applicable steps in the [debugging guide][debugging-guide]?
* Have you checked the FAQs on the [message board][message-board] for common solutions?
* Have you checked that your issue [

[2018-06-18 22:56] #225 closed

[2018-06-18 22:56] #224 closed

[2018-07-14 08:31] Arcanemagus commented on #217
@aadrian The resolver for which package to blame isn't always accurate, the stack trace is the only way to tell in many cases. For your case the error was being caused by the [foldingtext-for-atom](https://atom.io/packages/foldingtext-for-atom) package.

@andrei-elizaga from your stack trace it looks like you are _also_ being brought here by the same bug in that package.

If one of you files a bug

[2018-08-22 20:52] JordanMajd opened #226 "Option to disable git functionality"
Git is very slow over remote connections and I often times work over SSHFS. In order for Atom to be somewhat responsive, I find myself disabling every single package that makes use of git.

Ideally, I would not need to disable `status-bar` and would only need to turn off the git functionality.

[2018-08-29 18:56] unluisco opened #227 "null git branch in status-bar"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode

### Description

I started a new git project from the terminal, I have not yet made the first commit, but in the status bar appears the icon of the null branch, when I swi

[2018-08-29 19:26] smashwilson commented on #227
Moved by hand to atom/github#1672.

[2018-08-29 19:26] #227 closed

[2018-09-27 10:46] #210 closed

[2018-09-27 10:46] #56 closed

[2018-10-17 03:10] rsese commented on #226
Thanks for the report - the performance issue with Git and working over SSHFS has an issue at https://github.com/atom/atom/issues/2456 (and the related request to be able to disable the Git integration is referenced in that issue and others like https://github.com/atom/tree-view/issues/784 for example, though it looks like you found that issue).  We'll go ahead and close in favor of those issues,

[2018-10-17 03:10] #226 closed

[2018-10-17 22:02] JordanMajd commented on #226
@unluisco Thanks for the suggestion. However, the git functionality in the status bar is unrelated to the github package.

@rsese Thanks for the informative update; I will subscribe to those tickets.

[2018-10-31 03:48] OsLivon opened #230 ""Not on branch" message on status bar after creating or cloning a repository"
![capturar](https://user-images.githubusercontent.com/4340871/47765253-5bb62100-dcc9-11e8-80e4-9f9e64884f32.PNG)
![capturar1](https://user-images.githubusercontent.com/4340871/47765261-607ad500-dcc9-11e8-84e8-d775b45989dd.PNG)

### Prerequisites

* [X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.

[2018-11-02 05:33] rsese commented on #230
Thanks for the report!  I think this is expected - for example, this is what I see using git commands:

[code]

So that first `git branch` doesn't list `master` until after the first commit and you can't create a new branch until after your first commit.

With the GitHub package, it looks like it behaves the same way - if you stage and commit something after initializing the repository, then the b

[2018-11-02 05:33] #230 closed

[2018-12-01 10:35] rzjnzk commented on #207
+1

[2018-12-04 00:57] Bengreen commented on #71
I would like to see absolute position in file as some parsers do not return row/column and instead return character position in file.

[2018-12-06 01:39] liuran commented on #217
1. open Atom and and this error message happens

**Atom Version**: 1.12.8
**Electron Version**: 1.3.13
**System**: Mac OS X 10.14
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.1

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2018-12-06 18:22] rsese commented on #217
Thanks @liuran - from your stack trace, it looks like the issue is with the https://atom.io/packages/atom-clock package.  You can file an issue in the package repository to let them know about the problem.

[2019-01-22 02:26] perpatron opened #233 "??"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2019-01-22 03:28] #233 closed, assigned to nobody

[2019-05-16 16:27] memeplex commented on #36
The tab-control package works great, but this surely is a core feature, every other editor I used, and I used a lot of them along the last 20 years, includes this feature one way or another. Tab width assumptions change from file to file, from project to project, not only from language to language. The flexibility to change tab width on-the-fly is a must have.

[2019-05-27 05:11] LeptoSpira commented on #207
Can this please be done? It has been about 2 years since this was asked, it seems no one has taken action to add this yet.

[2019-06-05 20:32] norton64 commented on #207
As a warning to anyone on the dev team under 35...  As one gets older and needs stronger glasses, one ends up increasing the font-size to the point where the items in the status bar crash into each other and become unreadable.  For all of us over-35 users, can this enhancement be re-prioritized?

[2019-10-09 15:38] IsidoroMartin commented on #199
Hello @rsese ,
I am having the same error.
I just installed atom and the plugin tree-view-finder and it doesn't work.
I tried restarting atom and i get the same error:
[code]

### Commands

[code]

### Non-Core Packages

[code]
I am running it on Windows 10.
Best Regards

[2019-10-09 17:23] rsese commented on #199
@IsidoroMartin that looks like an [issue with tree-view-finder](https://github.com/hanyazou/tree-view-finder/issues?utf8=%E2%9C%93&q=is%3Aissue+Uncaught+TypeError%3A+Cannot+read+property+%27isVisible%27+of+null+) rather than Atom.  The package doesn't look like it's been updated in a while so that may be part of the problem.

[2019-10-11 14:33] IsidoroMartin commented on #199
@rsese You're right. I alredy post the issue on their github. Anyways i alredy found another plugin that makes what's needed so i'll use it meanwhile.
Thanks for the reply
Best Regards

[2020-01-21 18:29] toshioxgnu opened #234 "Git status doesn't show in status-bar"
I install atom in the work but the status bar it doesn't show the git status

[2020-01-21 20:27] darangi commented on #234
Thanks for reaching out!
We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2020-01-21 20:27] #234 closed

[2020-03-22 22:47] aminya opened #235 "Status-bar slow loadtime in atom 1.47.0-nightly3"
This issue is copied from https://github.com/atom/atom/issues/20531

### Description

In the latest nightly (1.47.0-nightly3), when I open Atom, the status-bar has a very high activation time.

<img src="https://user-images.githubusercontent.com/16418197/77041183-6db06680-6987-11ea-9b11-eb259b889369.png" width="500"/>

This doesn't happen in atom 1.47.0-nightly2:

<img src="https://user-images.git

[2020-03-24 00:39] aminya commented on #235
Here is the result with many packages disabled:

Nightly 3:
<img src="https://user-images.githubusercontent.com/16418197/77293699-d9a90c80-6cb0-11ea-8494-b0146cda004a.jpg" width="500"/>

Nightly 2:
<img src="https://user-images.githubusercontent.com/16418197/77293722-e2014780-6cb0-11ea-813c-a6a86bf96695.jpg" width="500"/>

The same problem happens

[2020-05-30 10:59] menghuazou opened #237 "Failed to activate the status-bar package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.47.0 x64
**Electron**: 5.0.13
**OS**: Unknown Windows version
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.17

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-10-09 00:59] iterating commented on #237
Having this issue as well.

[2021-02-03 04:11] francisle69 opened #239 "Failed to activate the status-bar package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.54.0 x64
**Electron**: 6.1.12
**OS**: Unknown Windows version
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package 1.8.17

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

### Non-Core Packages

[code]